{% extends 'layouts/page.njk' %} {% block content %}
<div class="dorm-text container">
    <p class="fade-in">Дормикинд — это комплексный гомеопатический препарат, специально разработанный для деликатного решения проблем беспокойства и нарушений сна у детей, начиная с первых дней жизни и до 6 лет.</p>

 
    <div class="fade-in mx-auto my-6 xl:px-68 xl:my-16">
        <video class="max-w-full aspect-video" controls>
            <source src="/DORMIKIND.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>

    <h2 class="fade-in">Когда назначают Дормикинд?</h2>
    <p class="fade-in">Препарат помогает справиться с состояниями, которые часто встречаются у малышей и вызывают тревогу у родителей :</p>
    <ul>
        <li class="fade-in">Трудности с засыпанием: ребенок долго не может уснуть, капризничает.</li>
        <li class="fade-in">Беспокойный сон: малыш часто просыпается, ворочается, вздрагивает во сне.</li>
        <li class="fade-in">Повышенная возбудимость: дневное беспокойство, нервозность, которые мешают нормальному отдыху.</li>
    </ul>
    <h2 class="fade-in">Как действует Дормикинд?</h2>
    <p class="fade-in">Эффективность препарата обусловлена сбалансированной комбинацией трех активных компонентов растительного и минерального происхождения :</p>
    <ul>
        <li class="fade-in">Циприпедиум (Башмачок настоящий) — помогает снизить нервное возбуждение и беспокойство, способствуя расслаблению.</li>
        <li class="fade-in">Магния карбонат — мягко регулирует процесс засыпания, помогает сделать сон более глубоким и снижает чувство "разбитости" после пробуждения.</li>
        <li class="fade-in">Цинка валериат — способствует спокойному течению сна, уменьшая частоту пробуждений, вызванных вздрагиваниями.</li>
    </ul>
    <div class="fade-in mt-[1.2rem] flex h-[1.81rem] justify-center text-sm md:h-[2.19rem] md:text-[0.94rem] xl:mt-14 xl:h-[3.44rem] xl:text-xl">
        <a href="" class="group text-my-violet flex transition-colors hover:text-white">
            <span class="grid aspect-square h-full place-content-center rounded-full border border-white bg-white px-2 transition-all group-hover:rotate-90 group-hover:bg-transparent">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="max-w-full">
                    <path
                        d="M0.420103 16.4589C-0.154863 17.0553 -0.137479 18.0049 0.458932 18.5799C1.05534 19.1549 2.00493 19.1375 2.5799 18.5411L1.5 17.5L0.420103 16.4589ZM18.4245 1.47254C18.4093 0.644256 17.7255 -0.0149122 16.8973 0.000251293L3.39951 0.247355C2.57122 0.262518 1.91206 0.946271 1.92722 1.77456C1.94238 2.60285 2.62614 3.26202 3.45442 3.24685L15.4524 3.0272L15.6721 15.0252C15.6872 15.8535 16.371 16.5127 17.1993 16.4975C18.0276 16.4823 18.6867 15.7986 18.6716 14.9703L18.4245 1.47254ZM1.5 17.5L2.5799 18.5411L18.0046 2.54107L16.9247 1.5L15.8448 0.458932L0.420103 16.4589L1.5 17.5Z"
                        fill="currentColor" />
                </svg>
            </span>
            <span class="grid h-full place-content-center rounded-full border border-white bg-white px-3.5 whitespace-nowrap transition-colors group-hover:bg-transparent md:px-7 xl:px-[2.4rem]">Купить сейчас</span>
        </a>
        <a href="" class="hover:text-my-violet ml-4 grid h-full place-content-center rounded-full border border-white px-3.5 transition-colors hover:bg-white md:px-7 xl:px-[2.4rem]">Инструкция</a>
    </div>
</div>
{% endblock %}
