{% extends 'layouts/page.njk' %} {% block content %}
<div class="container">
    <p class="fade-in mb-5 text-xs xl:text-base">20.07.2016</p>
    <div class="mb-5 grid gap-y-3 md:mb-8 md:gap-y-8 xl:grid-cols-2 xl:gap-x-8">
        <div class="dorm-text">
            <h2 class="fade-in">Детская поведенческая инсомния</h2>
            <p class="fade-in">
                Детская поведенческая инсом­ния  – это чрезвычайно распро­страненное расстройство сна, ко­торое встречается у 20–30% детей грудного и  раннего возраста. J. Mindell и соавт. (2006) предлага­ют следующее
                определение: «дет­ская поведенческая инсомния  – это повторяющиеся нарушения инициации, консолидации, про­должительности и  качества сна, которые возникают при нали­чии адекватных возрасту време­ни
                и условий для сна и приводят к различным нарушениям днев­ного бодрствования ребенка или семьи» [1]. Такие нарушения сна развиваются вследствие форми­рования у ребенка неправильных ассоциаций и/или установок
                за­сыпания. В зависимости от при­чины можно выделить несколько вариантов детской поведенческой инсомнии.
            </p>
            <p class="fade-in">
                Детская поведенческая инсомния по типу нарушения ассоциаций засыпания. У ребенка формиру­ется зависимость засыпания от наличия дополнительной сти­муляции (кормления, укачи­вания, присутствия взрослого) или
                объекта (соска, бутылочка со смесью).
            </p>
            <p class="fade-in">
                Отсутствие такой стимуляции или объекта при ук­ладывании или ночном пробуж­дении значительно откладывает засыпание и  может уменьшить общее время сна ребенка. В связи с  тем что этот вариант наруше­ний сна
                встречается преиму­щественно у  детей до полутора лет, он признается заболеванием только при следующих условиях:<br />
                1). предоставление ассоциации доставляет слишком большие неудобства (например, засыпание только при сильном укачивании или в движущейся машине);<br />
                2). отсутствие необходимой ассоциации значительно откладыва­ет засыпание или иным образом нарушает сон;<br />
                3). засыпание при укладывании и в течение ночи требует частых вмешательств родителя [2].
            </p>
        </div>
        <div class="fade-in md:px-18 xl:px-0">
            <div class="dorm-text bg-my-table rounded-[1.25rem] px-3.5 py-5 text-black xl:rounded-[2.63rem] xl:py-10 xl:pr-24 xl:pl-9">
                <div class="text-my-violet leading-my-109 md:text-xl/my-109 mb-4 font-bold xl:text-[2.19rem]">Клиническая сомнология<br />П.В. Пчелина, М.Г. Полуэктов</div>
                <p class="text-my-violet font-bold">Первый Московский государственный медицинский университет им. И.М. Сеченова</p>
                <p>Адрес для переписки: Михаил Гурьевич Полуэктов, polouekt@mail.ru</p>
                <p>
                    Детская поведенческая инсомния – самое распространенное нарушение сна детей, значительно ухудшающее качество жизни родителей. Методами выбора в лечении этого расстройства являются поведенческая терапия
                    и гигиена сна. При нарушении ассоциаций засыпания доказана эффективность методов постепенного погашения, проверки и выдержки, погашения в присутствии родителя, ритуала сна. При нарушении установок сна
                    применяют тактику постепенного погашения и создание позитивной ассоциации с постелью. Выбор безопасного лекарственного средства для лечения детской инсомнии ограничен, а эффект фармакотерапии
                    непродолжителен, так как она не устраняет причину нарушений сна. Однако лекарственная терапия может помочь ребенку и его семье адаптироваться к условиям сна в период поведенческой терапии.
                </p>
                <p><span class="font-bold uppercase">Ключевые слова:</span> сон, инсомния, детская поведенческая инсомния, поведенческая терапия, ритуал укладывания</p>
            </div>
        </div>
    </div>
    <div class="dorm-text">
        <h2 class="fade-in">Детская поведенческая инсомния по типу нарушения установок засыпания.</h2>
        <p class="fade-in">
            Ребенок уклоняется и  отказывается ложиться спать в определенное время, в опреде­ленном месте. Этот тип инсомнии формируется при неадекватном или непостоянном установлении времени и места для сна родите­лями.
            Такие нарушения харак­терны для детей старше полутора лет, которые могут самостоятель­но вылезать из кроватки. <span class="font-bold">Смешанная детская поведенческая инсомния</span> объединяет черты двух
            описанных вариантов [2]. Любые нарушения сна детей на­рушают сон родителей и, буду­чи поводом для беспокойства, усиливают их тревожность, «за­цикленность» на проблеме сна. Это может вызывать адаптаци­онную
            инсомнию с  вероятной последующей ее хронизацией, снижение работоспособности после бессонной ночи, материн­скую депрессию. Эмоционально­аффективные нарушения у роди­телей в свою очередь усугубляют проблему, так
            как ребенок хо­рошо чувствует негативный на­строй и напряженность родителя перед укладыванием и  это пре­пятствует его расслаблению. Влияние поведенческой инсом­нии на здоровье и  развитие ре­бенка проявляется
            в  первую очередь в сфере психики и опос­редовано двумя механизмами. Первый заключается в  том, что сон необходим для нормально­го созревания мозга, обработки информации, долговременной памяти, обучения [3].
            Особенно важную роль играет фаза быс­трого сна. Об этом свидетельс­твует тот факт, что в первый год жизни, когда происходит скачок в интеллектуальном и психичес­ком развитии ребенка, фаза быс­трого сна занимает
            до 50% всего времени сна [4]. Второй механизм связан с  дневной сонливостью, развивающейся вследствие недо­статочного сна. Дневная сонли­вость отражается на функциони­ровании префронтальной коры, которая
            связана с  регуляцией таких когнитивных функций, как рабочая память, длительное под­держание деятельности и внима­ния, а  также с  планированием, выполнением целенаправленной деятельности [5].
        </p>
        <p class="fade-in">
            Дневная сонливость особенно характерна для детей на втором десятилетии жизни, когда при необходимости раннего подъ­ема на учебу они самостоятельно сдвигают укладывание на более позднее время. Дневную
            сонли­вость у детей школьного возрас­та можно оценить с  помощью нейрофизиологических методик (множественного теста латент­ности сна и  теста поддержания бодрствования). Оценить пове­денческие проявления
            дневной сонливости у детей раннего воз­раста сложнее, так как они могут проявляться гиперактивностью и возбуждением [6].
        </p>
        <div class="fade-in mb-4 aspect-[1.6] overflow-hidden rounded-[1.25rem] md:float-right md:ml-8 md:w-70 xl:w-150 xl:rounded-[2.63rem]">
            <img class="h-full w-full object-cover" src="/images/image4.png" alt="" />
        </div>
        <p class="fade-in">
            Негативное влияние снижения продолжительности сна на вы­полнение тестов на внимание и  оперативную память у  детей было подтверждено как в  экс­периментальных исследованиях с депривацией сна, так и в
            иссле­дованиях детей с  нарушениями сна [7].
        </p>
        <p class="fade-in">
            Исследования зависимости успе­ваемости от характеристик сна показали, что отличники спят в среднем дольше сверстников и, наоборот, у детей, имеющих про­блемы с  учебой, сон короткий и более прерывистый [8, 9].
            Роль сна для физического раз­вития связывают с  выделением соматотропного гормона, влия­ющего на рост костей, анаболи­ческие процессы и синтез инсу­линоподобного фактора роста 1, которые происходят в глубоком
            сне. Показано, что 80% суточной продукции гормона роста выде­ляется единым пульсом в первом цикле глубокого медленного сна. Нехватка глубоких стадий сна из­за сниженной продолжитель­ности сна или частых
            пробуж­дений приводит к  замедлению роста и  прибавки массы тела у детей [10].
        </p>
        <h2 class="fade-in">Гигиена сна</h2>
        <p class="fade-in">
            Сон ребенка грудного и раннего возраста является частью слож­ной и  развивающейся регуля­торной системы, включающей также кормление и  отношения с родителем. Задача родителей – создать безопасную
            и благопри­ятствующую самостоятельному сну обстановку. При организации сна ребенка до одного года особое внимание должно быть уделено профилак­тике синдрома внезапной смерти младенцев от остановки дыха­ния,
            которая после проведения тщательного поиска причин ос­тается необъяснимой. Правила безопасного сна Американской академии педиатрии для сни­жения риска синдрома внезап­ной смерти младенцев, впервые предложенные
            в  1992 г. и  скор­ректированные в более поздних версиях, включают следующие рекомендации:ребенок должен спать на спине (для продвижения этих рекомендаций использовался слоган back to sleep);
        </p>
        <ul class="pl-6">
            <li class="fade-in">ребенок должен спать на жестком матрасе в  кроватке, не загроможденной вещами (по­душками, пледами, валиками, игрушками);</li>
            <li class="fade-in">кровать взрослых не соответствует требованиям безопас­ности детей, поэтому совмест­ный сон детей до одного года с  родителями не рекомендо­ван. Допустим совместный сон в одной комнате;</li>
            <li class="fade-in">
                ребенку не должно быть жарко. Если в комнате прохладно, лучше одеть его теплее или ис­пользовать спальный мешок, но не укрывать одеялом во избежание случайного удуше­ния, ни в  коем случае нельзя накрывать
                ребенка с головой;
            </li>
            <li class="fade-in">в комнате, где спит ребенок, нельзя курить;</li>
            <li class="fade-in">грудное вскармливание и своевременная иммуниза­ция снижают риск синдрома внезапной смерти младенцев [11].</li>
        </ul>
        <p class="fade-in">
            Тугое пеленание, допустимое для успокоения совсем малень­ких детей, небезопасно с  точки зрения профилактики синдро­ма внезапной смерти младенцев. Из­за сдавления грудной клетки ребенок не сможет сделать
            глу­бокий вдох, что в свою очередь создает предпосылки для разви­­тия легочной инфекции. Кроме того, пеленание ассоциировано с повышением риска дисплазии тазобедренных суставов. Из­за риска удушения нельзя
            пеле­нать ребенка, который научился переворачиваться со спины на живот. Вопрос использования пусты­шек во время ночного сна оста­ется спорным. Высказывались идеи о  неблагоприятном влия­нии этого предмета на
            процесс грудного вскармливания, фор­мирование правильного прику­са. В то же время доказано, что ночное применение пустышек уменьшает среднюю частоту сердечных сокращений и выра­женность боли у детей
            с различ­ными формами патологии [12]. С  2005  г. Американская акаде­мия педиатрии рекомендует ис­пользование пустышек в ночное время у детей до 12 месяцев для снижения риска синдрома вне­запной смерти
            младенцев. Создание обстановки, благо­приятствующей сну, относится к вопросам гигиены сна.
        </p>
        <div class="fade-in mb-4 md:my-8 xl:mt-0 xl:mb-4 xl:mr-8 xl:float-left xl:w-[60%]">
            <div class="dorm-text bg-my-table text-my-violet  rounded-[1.25rem] px-3.5 py-5 xl:rounded-[2.63rem] xl:py-10 xl:px-9">
                <h2>Правила гигиены сна детей</h2>
                <ul class="pl-6">
                    <li>
                        Поддерживать постоянное время укладывания и утреннего подъема в течение недели, вне зависимости от праздников и выходных: позднее укладывание или подъем в выходные могут нарушить режим на несколько дней
                    </li>
                    <li>Строго ограничить любую активность в кровати (чтение, просмотр фильмов, прием пищи), кроме сна: это нарушает ассоциацию между постелью и сном</li>
                    <li>Поддерживать комфортные условия в детской спальне/месте для сна: минимальный уровень освещенности, шума/«белый шум», умеренная температура воздуха, удобные матрас, подушка, постель, одежда для сна</li>
                    <li>Процесс укладывания должен состоять из последовательных, ежедневно повторяющихся мероприятий: вечерний туалет, чтение на ночь</li>
                    <li>
                        Избегать возбуждающей активности (просмотр телевизора, видеоигры, общение со сверстниками, физическая активность) перед сном, а также при ночном пробуждении. Убрать видеоигры, телевизор, телефон,
                        компьютер из комнаты ребенка
                    </li>
                    <li>Если ребенок спит днем, необходимо ограничить дневной сон во второй половине дня (после 16:00), а продолжительность дневного сна полутора­двумя часами</li>
                    <li>Соблюдать режим питания: ребенок не должен ложиться спать ни голодным, ни переевшим. Перед укладыванием можно устроить легкий перекус</li>
                    <li>Обеспечить достаточный уровень физической активности в течение дня</li>
                    <li>Утром обеспечить достаточное освещение комнаты ребенка, чтобы стимулировать пробуждение</li>
                    <li>Избегать употребления кофеина (кофе, чай, шоколад, кола) во второй половине дня</li>
                    <li>
                        Ведение дневника ночного и дневного сна, дневной активности позволяет выявить проблемы, которые мешают установить режим и достичь здорового сна и  труднопреодолимое желание нарушить правила и  успокоить
                        ребенка [14].
                    </li>
                </ul>
            </div>
        </div>

        <h2 class="fade-in">Поведенческая терапия детской инсомнии по типу нарушения ассоциаций засыпания</h2>
        <p class="fade-in">
            Негативные ассоциации или ус­тановки засыпания, лежащие в основе детской поведенческой инсомнии, формируются, когда родители допускают засыпа­ние младенца на руках или во время кормления, разрешают подросшему
            ребенку засыпать вне своей кроватки или позже, чем обычно. Одного­двух таких послаблений достаточно, чтобы нарушить нормальный режим укладывания на несколько дней, поэтому важно, чтобы каждый день (в том числе
            в  выходные дни и праздники) процесс укла­дывания проходил одинаково. В  поездке или в  гостях соблю­дать режим и  правила гигиены сна ребенка не всегда возмож­но, поэтому после возвращения домой могут
            возникнуть пробле­мы с укладыванием. Стойкое формирование нега­тивных ассоциаций и установок засыпания у ребенка, нарушаю­щих дневную активность ребен­ка и родителей, проявляется де­тской поведенческой
            инсомнией, которая относится к  категории хронических. Как и при инсом­нии взрослых, существуют два варианта лечения этой формы инсомнии: лекарственная и  по­веденческая терапия. Поведенческая терапия,
            подразу­мевающая развитие ассоциаций самостоятельного засыпания и навыков релаксации у ребенка, формирование ритуала засыпа­ния, является методом выбора при детских поведенческих ин­сомниях [13]. Количество
            иссле­дований, в которых оцениваются результаты этого метода, растет, а  клинически значимая эффек­тивность достигает 94% [1]. Самый известный и  противо­речивый метод поведенческой терапии  – это метод
            оставле­ния, который включает разные по степени участия родителей варианты. Самый строгий вариант, пред­ложенный M. Weissbluth, под­разумевает, что после обычного ритуала укладывания (водные процедуры, уборка,
            переодева­ние, пожелание спокойной ночи) родитель оставляет ребенка в  кроватке и  уходит из комна­ты, не реагируя на крики и зов. Авторы методики справедливо считают, что даже самый на­стойчивый ребенок не
            будет кричать всю ночь, а  вскоре ус­танет и  уснет самостоятельно. При ежедневном соблюдении этих правил ребенок научится засыпать самостоятельно уже к четвертой ночи. Несомненным минусом этой методики
            явля­ется чувство вины у родителей.
        </p>

        <h2 class="fade-in">Более мягкий вариант методи­ки погашения, метод «провер­ки и  выдержки», предложен R. Ferber [15].</h2>
        <p class="fade-in">
            1). После вечернего ритуала родитель укладывает ребенка в кро­ватку и уходит из комнаты.<br />
            2). В течение 15 минут родитель находится вне комнаты, игнори­руя возмущение ребенка.<br />
            3). Если через 15 минут ребенок не заснул, родитель подходит, проверяет, все ли в порядке, поп­равляет постель, снова уклады­вает ребенка и уходит.<br />
            4). Пункты 2 и  3 повторяются, пока ребенок не уснет. Каждый след у ющий период ожи да­ния увеличивается на две­три минуты.<br />
            5). При ночном пробуждении ребенка родитель не подходит к  нему 15 минут, чтобы дать ребенку возможность уснуть самостоятельно.<br />
            6). Если через 15 минут ребенок не заснул, родитель подходит, проверяет, все ли в порядке, поп­равляет постель, снова уклады­вает ребенка и уходит.<br />
            7). Пункты 5 и 6 повторяются, пока ребенок не уснет. Каждый следу­ющий период ожидания увели­чивается на две­три минуты.<br />
            8). На следующую ночь период ожидания равен максимальному достигнутому времени ожида­ния за предыдущую ночь.<br />
            9). За счет постепенного увеличения времени ожидания за не­сколько ночей период ожидания должен увеличиться до 30 минут.
        </p>

        <p class="fade-in">
            За счет проверок этот метод ка­жется родителям более прием­лемым, однако сами проверки замедляют выработку привычки самостоятельного засыпания. Зачастую родители, которым такой подход кажется слишком жестоким,
            после нескольких пе­риодов ожидания все­таки пре­доставляют ребенку требуемую ассоциацию засыпания (воз­вращаются к выниманию его из кроватки, кормлению, укачива­нию). Это значительно удлиняет процесс выработки
            привычки самостоятельного засыпания, так как ребенок чувствует, что его требования могут увенчать­ся успехом. Исследования пока­зывают, что эти методики, как и  сильный длительный плач в  раннем возрасте, не
            сказыва­ются отрицательно на взаимоот­ношениях ребенка и родителей, сне, поведении и  психических показателях ребенка в  более старшем возрасте. При строгом и последовательном подходе ме­тодики погашения при
            детской поведенческой инсомнии с нару­шением ассоциаций засыпания позволяют достигнуть эффекта уже на третью­четвертую ночь. Максимальная продолжитель­ность лечения, которая наблю­дается очень редко, составляет
            полторы недели. Методы погашения достоверно увеличивают как период сна без пробуждений, так и  период сна с пробуждениями, за которыми следует самостоятельное засыпа­ние [16, 17].
        </p>
        <p class="fade-in">
            Однако эти методы не должны применяться у детей в  возрасте до шести месяцев. Накапливаются данные о  том, что, улучшая количественные показатели, метод погашения при детской инсомнии не умень­шает выраженность
            детских кри­ков и  материнской депрессии  – основных проблем, с  которыми родители обращаются к  врачу [18, 19]. Отсутствие облегчения состояния матери, страдающей депрессией, и  улучшения сна у  родителей
            можно объяснить тем, что эти состояния связаны не с  продолжительностью сна ребенка, а с предрасположеннос­тью к психофизиологической ги­перактивации, толчком для раз­вития которой послужил уход за
            новорожденным ребенком [20]. Существуют опасения, что обу­чение детей самостоятельному засыпанию в возрасте до шести месяцев может даже нанести вред, поскольку его влияние на процесс грудного вскармлива­ния
            непредсказуем, а  ребенок в этом возрасте все еще нужда­ется в  ночных кормлениях [21].
        </p>
        <p class="fade-in">
            Недостаточно изучен эффект вызываемого методиками пога­шения разрушения физиологи­ческой гормональной и поведен­ческой синхронизации между матерью и ребенком, заключаю­щейся в  своевременном и  адек­ватном
            ответе матери на потреб­ность ребенка в еде или сне [22]. Вышеописанные недостатки методик погашения для детей до шести месяцев побуждают искать другие способы борьбы с детской инсомнией. В качестве вариантов
            можно рассматривать еще более «мягкий» вариант ме­тодики погашения – погашение в присутствии родителя и фор­мирование ритуала сна. В  пер­вом случае родитель находится в комнате, где должен заснуть ре­бенок, но
            с каждой ночью он уде­ляет ребенку все меньше и мень­ше внимания.
        </p>

        <p class="fade-in">
            1). Родитель укладывает ребенка в  кроватку, а  сам находится рядом, пока ребенок не заснет. Если размеры кровати позво­ляют, родитель может лежать рядом с ребенком.<br />
            2). В следующие ночи родитель продолжает находиться рядом с  ребенком, но постепенно со­кращает количество прикосно­вений и  общения с  ребенком, сидит рядом вместо того, чтобы лежать. При этом родитель
            наме­ренно занимается спокойными посторонними делами (напри­мер, чтением), а не ребенком.<br />
            3). Родитель укладывает ребенка в кроватку, а сам сидит на стуле в 5 метрах от нее, пока ребенок не заснет.<br />
            4). В следующие ночи стул следует постепенно отодвигать на все большее расстояние от кроватки.<br />
            5). На следующем этапе можно попробовать выходить из ком­наты на несколько секунд, воз­вращаясь до того, как ребенок начнет плакать.<br />
            6). При ночных пробуждениях родитель повторяет действия при укладывании на этом этапе. Каждый этап можно удлинять на несколько дней, чтобы избежать резкой негативной реакции со стороны ребенка [23].
        </p>

        <p class="fade-in">
            Формирование ритуала уклады­вания эффективно при наруше­ниях сна у детей любого возраста. Чем раньше формируется ритуал укладывания, тем меньше веро­ятность возникновения проблем со сном у детей раннего
            возрас­та: они быстрее засыпают и спят дольше [24]. Ритуал должен быть предсказуе­мым, регулярным, позитивным, расслабляющим и  совпадать со временем, когда ребенок сонлив. Он может включать в  себя три­четыре
            этапа общей продолжи­тельностью 20–45 минут: уборка игрушек и пожелание им спокой­ной ночи, вечерний туалет, пере­одевание в пижаму, чтение сказки на ночь, колыбельная. Последняя часть ритуала укладывания
            про­водится уже в постели. Если ребенок отказывается ло­житься спать в  установленное время, необходимо придержи­ваться следующей последова­тельности действий.
        </p>
        <p class="fade-in">
            1). Перенести ритуал и  укладывание на то время, которое уст­раивает ребенка. Для маленьких детей, которые не могут опреде­лить время укладывания, нужно ориентироваться по признакам сонливости: потеря интереса
            к окружающим людям и предме­там, жесты «рука к  лицу», зева­ние, покраснение век.<br />
            2). В течение нескольких ночей, когда ребенок будет ложиться в  установленное время, у  него появится иллюзия контроля над ситуацией, а также сформирует­ся более прочная ассоциативная связь между ритуалом
            укладыва­ния и сонливостью.<br />
            3). После этого ритуал и уклады вание можно будет постепенно смещать на 15–20 минут раньше и  за несколько дней без сопро­тивления со стороны ребенка достигнуть требуемого времени укладывания. [25].
            Сформированная ассоциация между ритуалом и  засыпанием позволяет предупредить нару­шение установки времени засы­пания в дальнейшем. После 12 месяцев, когда снижа­ется риск синдрома внезапной младенческой
            смерти, при ук­ладывании можно использовать предметные посредники  – мяг­кую игрушку, собственную по­душку ребенка, вещь, прина­длежащую маме и  имеющую ее запах. Это создает ощущение стабильности и помогает
            сохра­нить режим укладывания, даже если ребенок вынужден засыпать в незнакомом месте.
        </p>

        <h2 class="fade-in">Поведенческая терапия детской инсомнии по типу нарушения установок засыпания</h2>
        <p class="fade-in">
            После возраста 18 месяцев ре­бенок уже может выбираться из кроватки и активно отказывать­ся от определяемых родителя­ми установок сна (укладывание в определенное время, сон толь­ко в своей кровати). Подросший
            ребенок стремится проявить собственную инициативу и неза­висимость, вместе с тем он стано­вится чувствительнее к запретам и наказаниям. Интеллектуальное и речевое развитие создают бла­гоприятную почву для
            воображе­ния, что может привести к стра­ху перед укладыванием, который отмечается более чем у 70% детей до шести лет. Страхи усложняют процесс укладывания, затрудня­ют засыпание и могут привести к ночным
            кошмарам [26]. Неправильная установка места засыпания заключается в отказе ребенка спать в своей кроватке/комнате. Ребенок будет наста­ивать на том, чтобы засыпать в  постели с  родителями или в общей комнате,
            при просмотре телевизора. Детям может казаться, что самое интересное происходит после того, как они засыпают. Для того чтобы разуверить их, родителям не стоит вести активную деятель­ность после укладывания,
            необ­ходимо включить в  комнатах приглушенный свет, избегать громких звуков, разговоров и со­здать видимость подготовки ко сну. При этих проблемах также ис­пользуется методика постепен­ного погашения, которая
            заклю­чается в следующем.
        </p>

        <p class="fade-in">
            1). После вечернего ритуала родитель укладывает ребенка в кроват­ку, прощается с ним.<br />
            2). Если ребенок пытается оттянуть момент засыпания и просит роди­теля рассказать еще сказку (пого­ворить, посидеть), родитель под предлогом «неотложных дел» ухо­дит, но обещает вернуться через пять минут.<br />
            3). Через семь – десять минут родитель ненадолго возвращает­ся, чтобы проверить ребенка, но опять уходит под тем же предло­гом и обещает, что вернется через десять минут.
        </p>

        <p class="fade-in">
            Эта тактика также создает для ребенка иллюзию контроля над ситуацией, кроме того, лежа в пос­тели в темноте, он не может адек­ватно оценивать пошедшее время. Если ребенок привык спать в пос­тели родителей, но
            они в  опре­деленный момент делают выбор в  пользу раздельного сна, пере­ход малыша к самостоятельному сну должен быть постепенным и последовательным. Для ребенка, который может вы­браться из кроватки и  дойти
            до спальни родителей, в первые ночи следует положить отдельный мат­рас рядом с  родительской кро­ватью. Затем матрас переносят в  отдельную комнату в  кроватку ребенка, но разрешают ему при­ходить в спальню
            родителей через одну­две ночи, постепенно увели­чивая количество ночей самостоя­тельного сна. В дальнейшем можно разрешить ребенку приходить в спальню родителей при опреде­ленных условиях: после звонка
            бу­дильника или утром в выходной день. При этом следует установить положительную ассоциацию со своим спальным местом. Для этого можно привлечь ребенка к выбору постельного белья, пижамы, зана­весок в спальню
            и других элемен­тов обстановки, использовать сю­жетно­ролевые игры и сказки. При страхе перед укладыванием можно применять релаксацион­ные методики: мышечную релак­сацию, глубокое дыхание, управ­ляемую работу
            воображения по разрушению своих страхов под контролем психолога [27].
        </p>
        <p class="fade-in">
            Необходимо положительно за­креплять результаты, например, наклеивать стикеры в календаре или дневнике за каждое само­стоятельное и своевременное за­сыпание, ночь без пробуждений, практиковать систему
            возна­граждений, избегать наказаний за неудачные попытки [28]. Основой любого метода поведен­ческой терапии являются четкое следование установленным пра­вилам и  последовательный пе­реход от одного этапа
            к другому. Нарушение этих правил приведет к тому, что время лечения увели­чится или методика окажется не­эффективной [29].
        </p>
        <h2 class="fade-in">Лекарственная терапия поведенческих инсомний</h2>
        <p class="fade-in">
            Второй вариант лечения детской поведенческой инсомнии  – те­рапия лекарственными препа­ратами. При этом сразу же необ­ходимо отметить ограниченное количество средств такого рода, разрешенных для использования у
            детей. В США опрос семей, в которых у детей имелись нарушения сна, показал, что в 80% случаев им все же назначали лекарства [30]. При этом одобренных Управлением по контролю за качеством пище­вых продуктов
            и лекарственных препаратов (FDA) средств для лечения инсомнии у детей не су­ществует. Исследования показы­вают, что, несмотря на быстрый положительный эффект фар­макотерапии, после окончания лечения он быстро
            исчезает, так как основная причина поведен­ческой бессонницы не корректи­руется [31].
        </p>
        <p class="fade-in">
            Методами доказательной меди­цины для лекарственного лече­ния инсомний раннего возраста показана эффективность лишь тримепразина (алимемазин) и  ниапразина (фенотиазиновые антигистаминные), первый из которых
            в России разрешен для назначения детям с возраста семи лет. Однако во врачебной практи­ке чаще всего используют средс­тва, обладающие седативным эф­фектом как одним из побочных. Например, ноотропные средства
            седативного спектра: препараты аминофенилмасляной кислоты (Фенибут), сборы седативных трав (валериана, пустырник, пион), ус­покаивающие чаи (с фенхелем, ромашкой). Снотворное действие оказывают такие препараты,
            раз­решенные к применению у детей, как дифенилгидрамин, гидрокси­зин, диазепам. Гомеопатические препараты с се­дативными свойствами привле­кают родителей и врачей в связи с  их безопасностью. В  качестве
            примера такого средства для детей с нарушениями сна можно привести немецкий препарат Дормикинд. В  состав препарата входит набор активных расти­тельных ингредиентов, доказав­ших свою эффективность при
            нарушениях сна: башмачок на­стоящий (уменьшает возбуди­мость при ночных пробуждениях из сна), магния карбонат (умень­шает раздражительность, возни­кающую у детей к вечеру), цинка валерианат (при бессоннице от
            сильного возбуждения)  – пока­зания цитируются по Словарю практической медицины Materia Medica (2001) [32].
        </p>
        <p class="fade-in">
            Дормикинд был разработан спе­циально для детей. Препарат обладает высоким уровнем безо­пасности, что позволяет исполь­зовать его с первых дней жизни, в  том числе у  грудных детей. Детям до шести лет препарат
            на­значается в дозе одна таблетка че­тыре раза в день. Таблетки расса­сываются во рту или разводятся в небольшом (5 мл – одна чайная ложка) количестве жидкости [33].
        </p>

        <h2 class="fade-in">Заключение</h2>
        <p class="fade-in">
            Как врачам, так и  родителям стоит обратить внимание на воз­можность использования седа­тивных средств не только при на­рушениях сна, ассоциированных с какими­либо острыми состоя­ниями (соматическим
            неблаго­получием, изменением окружа­ющих условий), но и  в  период применения поведенческих ме­тодик лечения детской инсомнии, особенно таких радикальных, как метод погашения, метод провер­ки и выдержки. Легкий
            снотвор­ный эффект позволит ребенку и  его семье быстрее и  проще перейти к  новым установкам и  ассоциациям или закрепить эффект при формировании ри­туала укладывания.
        </p>
        <h2 class="fade-in">Литература:</h2>
        <ol class="text-xs/my-109 list-decimal pl-6 font-light md:columns-2 md:gap-x-12 [&>li]:pb-3 xl:text-base/my-109">
            <li class="fade-in">Mindell J.A., Kuhn B., Lewin D.S. et al. Behavioral treat­ment of bedtime problems and night wakings in in­fants and young children // Sleep. 2006. Vol. 29. № 10. P. 1263–1276.</li>
            <li class="fade-in">The International classification of sleep disorders [Diagnostic and coding manual]. 3rd ed. USA: American Academy of Sleep Medicine, 2014.</li>
            <li class="fade-in">Frank M.G., Benington J.H. The role of sleep in memory consolidation and brain plasticity: dream or reality? //Neuroscientist. 2006. Vol. 12. № 6. P. 477–488.</li>
            <li class="fade-in">Principles and practice of pediatric sleep medicine / ed. by S.H. Sheldon, R. Ferber, M.H. Kryger. USA: Elsevier saun­ders, 2014.</li>
            <li class="fade-in">Horne J.A. Human sleep, sleep loss and behaviour. Implications for the prefrontal cortex and psychi­atric disorder // Br. J. Psychiatry. 1993. Vol. 162. P. 413–419.</li>
            <li class="fade-in">Fallone G., Owens J.A., Deane J. Sleepiness in children and adolescents: clinical implications // Sleep Med. Rev. 2002. Vol. 6. № 4. P. 287–306.</li>
            <li class="fade-in">Sadeh A., Gruber R., Raviv A. Sleep, neurobehavioral function­ing, and behavior problems in school­age children // Child Dev. 2002. Vol. 73. № 2. P. 405–417.</li>
            <li class="fade-in">Wolfson A.R., Carskadon M.A. Sleep schedules and daytime functioning in adolescents // Child Dev. 1998. Vol. 69. № 4. P. 875–887.</li>
            <li class="fade-in">Kahn A., Van de Merckt C., Rebuffat E. et al. Sleep problems in healthy preadolescents // Pediatrics. 1989. Vol. 84. № 3. P. 542–546.</li>
            <li class="fade-in">Van Cauter E., Copinschi G. Interrelations between growth hormone and sleep // Growth Horm IGF Res. 2000. Vol. 10. Suppl. B. P. S57–S62.</li>
            <li class="fade-in">SIDS and other sleep­related infant deaths: expansion of recommendations for a safe infant sleeping environment // Pediatrics. 2011. Vol. 128. № 5. P. 1030–1039.</li>
            <li class="fade-in">Campos R.G. Rocking and pacifiers: two comforting inter­ventions for heelstick pain // Res. Nurs. Health. 1994. Vol. 17.№ 5. P. 321–331.</li>
            <li class="fade-in">Vriend J., Corkum P. Clinical management of behavioral insomnia of childhood // Psychol. Res. Behav. Manag. 2011. Vol. 4. P. 69–79.</li>
            <li class="fade-in">Weissbluth M. Healthy sleep habits, happy child. USA: Ballantine Books, 2005.</li>
            <li class="fade-in">Ferber R. Solve your child’s sleep problems. USA: Prentice Hall & IBD, 2006.</li>
            <li class="fade-in">Galland B.C., Taylor B.J., Elder D.E., Herbison P. Normal sleep patterns in infants and children: a systematic review of observational studies // Sleep Med. Rev. 2012. Vol. 16. № 3. P. 213–222.</li>
            <li class="fade-in">
                Henderson J.M., France K.G., Owens J.L., Blampied N.M. Sleeping through the night: the consolidation of self­regulat­ed sleep across the first year of life // Pediatrics. 2010. Vol. 126.№ 5. P. e1081–e1087.
            </li>
            <li class="fade-in">Mindell J.A., Kuhn B., Lewin D.S. et al. Behavioral treat­ment of bedtime problems and night wakings in in­fants and young children // Sleep. 2006. Vol. 29. № 10. P. 1263–1276.</li>
            <li class="fade-in">The International classification of sleep disorders [Diagnostic and coding manual]. 3rd ed. USA: American Academy of Sleep Medicine, 2014.</li>
            <li class="fade-in">Frank M.G., Benington J.H. The role of sleep in memory consolidation and brain plasticity: dream or reality? //Neuroscientist. 2006. Vol. 12. № 6. P. 477–488.</li>
            <li class="fade-in">Principles and practice of pediatric sleep medicine / ed. by S.H. Sheldon, R. Ferber, M.H. Kryger. USA: Elsevier saun­ders, 2014.</li>
            <li class="fade-in">Horne J.A. Human sleep, sleep loss and behaviour. Implications for the prefrontal cortex and psychi­atric disorder // Br. J. Psychiatry. 1993. Vol. 162. P. 413–419.</li>
            <li class="fade-in">Fallone G., Owens J.A., Deane J. Sleepiness in children and adolescents: clinical implications // Sleep Med. Rev. 2002. Vol. 6. № 4. P. 287–306.</li>
            <li class="fade-in">Sadeh A., Gruber R., Raviv A. Sleep, neurobehavioral function­ing, and behavior problems in school­age children // Child Dev. 2002. Vol. 73. № 2. P. 405–417.</li>
            <li class="fade-in">Wolfson A.R., Carskadon M.A. Sleep schedules and daytime functioning in adolescents // Child Dev. 1998. Vol. 69. № 4. P. 875–887.</li>
            <li class="fade-in">Kahn A., Van de Merckt C., Rebuffat E. et al. Sleep problems in healthy preadolescents // Pediatrics. 1989. Vol. 84. № 3. P. 542–546.</li>
            <li class="fade-in">Van Cauter E., Copinschi G. Interrelations between growth hormone and sleep // Growth Horm IGF Res. 2000. Vol. 10. Suppl. B. P. S57–S62.</li>
            <li class="fade-in">SIDS and other sleep­related infant deaths: expansion of recommendations for a safe infant sleeping environment // Pediatrics. 2011. Vol. 128. № 5. P. 1030–1039.</li>
            <li class="fade-in">Campos R.G. Rocking and pacifiers: two comforting inter­ventions for heelstick pain // Res. Nurs. Health. 1994. Vol. 17.№ 5. P. 321–331.</li>
            <li class="fade-in">Vriend J., Corkum P. Clinical management of behavioral insomnia of childhood // Psychol. Res. Behav. Manag. 2011. Vol. 4. P. 69–79.</li>
            <li class="fade-in">Weissbluth M. Healthy sleep habits, happy child. USA: Ballantine Books, 2005.</li>
            <li class="fade-in">Ferber R. Solve your child’s sleep problems. USA: Prentice Hall & IBD, 2006.</li>
            <li class="fade-in">Galland B.C., Taylor B.J., Elder D.E., Herbison P. Normal sleep patterns in infants and children: a systematic review of observational studies // Sleep Med. Rev. 2012. Vol. 16. № 3. P. 213–222.</li>
            <li class="fade-in">
                Henderson J.M., France K.G., Owens J.L., Blampied N.M. Sleeping through the night: the consolidation of self­regulat­ed sleep across the first year of life // Pediatrics. 2010. Vol. 126.№ 5. P. e1081–e1087.
            </li>
        </ol>
        <div class="fade-in dorm-text bg-my-table mb-4 rounded-[1.25rem] px-3.5 py-5 text-black md:mt-8 xl:rounded-[2.63rem] xl:py-10 xl:px-9">
            <div class="text-my-violet leading-my-109 md:text-xl/my-109 mb-4 font-bold xl:text-[2.19rem]">How to Treat Insomnia of Early Childhood</div>
            <p class="text-my-violet font-bold">P.V. Pchelina, M.G. Poluektov<br />I.M. Sechenov First Moscow State<br />Medical University</p>
            <p>Contact person: Mikhail Guryevich Poluektov, polouekt@mail.ru</p>
            <p>
                Behavioral insomnia of childhood is the most common sleep disorder in children significantly affecting parents’ quality of life. Behavioral therapy and sleep hygiene is the treatment of choice for the
                behavioral insomnia of childhood. Extinction method, check-and-console method and bedtime routine were shown to be effective for sleep-onset association insomnia. Gradual extinction and positive association
                were helpful for limitsetting insomnia. Medication choice for childhood behavioral insomnia is limited and pharmacotherapy effect is short-term since it does not remove the cause of sleep disturbance.
                Pharmacotherapy however could be is useful within the course of behavioral training to help baby and their family adapt themselves to new settings and associations of sleep.
            </p>
            <p><span class="font-bold uppercase">Key words:</span> sleep, insomnia, behavioral insomnia of childhood, behavioral therapy, extinction, bedtime routine</p>
        </div>
    </div>
    <div class="fade-in mt-9">{% include 'components/back_btn.njk' %}</div>
</div>
{% endblock %}
