{% extends 'layouts/page.njk' %} {% block content %}
<div class="container">
    <div class="fade-in md:px-[7.4rem] xl:px-[31.7rem]">{% include 'components/search.njk' %}</div>

    <div class="my-7 grid gap-[1.3rem] md:my-12 md:grid-cols-2 xl:grid-cols-3 xl:gap-12">
        {% include 'components/cards.njk' %}
    </div>

    <div class="fade-in flex justify-center gap-x-0.5 text-xl font-extrabold md:gap-x-1 md:text-[1.63rem] xl:text-[2.19rem]">
        {% for i in [1, 2, 3, 4] %}
        <a class="pagi__item{% if i == 1%} active{% endif %}" href="">{{ i }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
