{% extends 'layouts/page.njk' %} {% block content %}
<div class="container">
    <dl class="grid gap-y-4 text-sm/my-109 font-light md:grid-cols-[43%_1fr] xl:grid-cols-[22.5%_1fr] xl:gap-y-6 xl:text-[1.44rem]">
        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Описание</dt>
        <dd class="fade-in border-b border-white pb-4 xl:pb-5">Таблетки плоскоцилиндрической формы белого или почти белого цвета с фаской.</dd>

        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Фармакологическое действие</dt>
        <dd class="fade-in border-b border-white pb-4 xl:pb-5">
            <ul class="list-disc space-y-3 pl-5">
                <li>Башмачок настоящий – снимает нервозность и повышенную возбудимость, уменьшает перевозбуждение</li>
                <li>Магния карбонат – улучшает процессы засыпания, уменьшает утреннюю сонливость</li>
                <li>Цинка валериат – стабилизирует фазы сна, снижает вероятность самопроизвольного пробуждения (из-за резких движений руками, ногами)</li>
            </ul>
        </dd>

        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Показания к применению</dt>
        <dd class="fade-in border-b border-white pb-4 xl:pb-5">Применяется для лечения беспокойства и нарушений сна (трудности засыпания, беспокойный сон) у детей до 6 лет.</dd>

        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Противопоказания</dt>
        <dd class="fade-in border-b border-white pb-4 xl:pb-5">Повышенная индивидуальная чувствительность к отдельным компонентам препарата; дефицит лактазы, непереносимость лактозы, глюкозо-галактозная мальабсорбция.</dd>

        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Способ применения и дозы</dt>
        <dd class="fade-in space-y-5 border-b border-white pb-4 xl:pb-5">
            <p>При отсутствии иных указаний Дормикинд следует принимать следующим образом: дети от 0 до 6 лет по 1 таб. 4 раза в день</p>
            <p>
                Таблетки принимают за полчаса до еды или через полчаса после еды, медленно рассасывая в полости рта. При лечении грудных детей и детей раннего возраста таблетки можно растворять в 5 мл (1 чайная ложка)
                воды. Максимальный курс лечения препаратом составляет 4 недели.
            </p>
        </dd>

        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Побочные действия</dt>
        <dd class="fade-in border-b border-white pb-4 xl:pb-5">
            Возможны аллергические реакции и реакции индивидуальной непереносимости. При появлении побочных эффектов, неопи- санных в данной инструкции, следует прекратить прием препарата и сообщить об этом лечащему врачу.
        </dd>

        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Передозировка</dt>
        <dd class="fade-in border-b border-white pb-4 xl:pb-5">До настоящего времени случаи передозировки не зарегистрированы.</dd>

        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Форма выпуска</dt>
        <dd class="fade-in border-b border-white pb-4 xl:pb-5">
            Таблетки для рассасывания гомеопатические для детей. По 150 таблеток во флакон коричневого стекла с пластмассовой крышкой, с контролем первого вскрытия. 1 флакон вместе с инструкцией по применению помещают в
            картонную пачку.
        </dd>

        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Срок годности</dt>
        <dd class="fade-in border-b border-white pb-4 xl:pb-5">5 лет. Не применять препарат после истечения срока годности.</dd>

        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Условия отпуска из аптек</dt>
        <dd class="fade-in border-b border-white pb-4 xl:pb-5">Отпускают без рецепта.</dd>

        <dt class="fade-in pb-4 font-extrabold uppercase md:border-b md:border-white md:pr-4 xl:pb-5">Юридическое лицо, на имя которого выдано регистрационное удостоверение</dt>
        <dd class="fade-in border-b border-white pb-4 xl:pb-5">
            Альпен Фарма ГмбХ Германия, 77736 Целль ам Хармерсбах, Штайненфельд 3 Производитель (все стадии): Германия, Доктор Густав Кляйн ГмбХ и Ко. КГ, Штайненфельд 3, 77736 Целль ам Хармерсбах Germany, Dr. Gustav Klein
            GmbH & Co. KG, Steinenfeld 3, 77736 Zell am Harmersbach
        </dd>

        <dt class="fade-in font-extrabold uppercase md:pr-4">Представительство в РФ / Организация, принимающая претензии потребителей</dt>
        <dd class="fade-in">
            ООО «Альпен Фарма», эксклюзивный представитель в России, 105082, Москва, ул. Фридриха Энгельса, д. 75, стр. 10, 3 этаж, каб. 2; тел. +7(495) 609-65-72; эл. почта: info.russia@alpenpharma.ru; интернет-сайт:
            www.alpenpharma.ru
        </dd>
    </dl>
    <div class="fade-in mt-4 flex justify-center md:mt-8">
        <a href="#" class="text-my-violet hover:bg-my-violet grid h-[2.19rem] w-68 max-w-full place-content-center rounded-full bg-white text-sm transition-colors hover:text-white md:w-36 xl:h-[3.44rem] xl:w-64 xl:text-lg"
            >Инструкция</a
        >
    </div>
    <p class="fade-in mt-7 text-xs/my-109 font-light xl:my-12 xl:text-base">* на основе Инструкции по применению лекарственного препарата для медицинского применения Дормикинд</p>
</div>
{% endblock %}
