{% extends 'layouts/page.njk' %} {% block content %}
<div class="container">
    <div class="dorm-text relative xl:w-1/2">
        <p class="fade-in">
            «Спит сном младенца» - часто говорим мы, имея в виду глубокий, крепкий, спокойный сон. Однако, как показывают исследования специалистов в области сна, мы совершенно не правы. Сон ребенка сходен со сном
            взрослого человека, он проходит одинаковые фазы: засыпание (начало сна), поверхностный сон (БДГ-фаза или «фаза быстрого сна»), глубокий сон, и далее чередование поверхностного и глубокого сна, но
            продолжительность этих фаз с возрастом сильно различается, причем «отсчет» можно начинать еще до рождения — доказано, что еще находясь в животике у мамы ребенок умеет спать и видит сны. Какой же он на самом
            деле — сон младенца?
        </p>

        <div class="fade-in mb-4 md:px-[15%] xl:absolute xl:top-0 xl:left-full xl:mb-0 xl:w-full xl:p-0 xl:pl-16">{% include 'components/sleep_table.njk' %}</div>

        <p class="fade-in">
            На шестом-седьмом месяце внутриутробного развития малыша он проявляет признаки «просмотра» сновидений. Как показали исследования американского доктора Ричарда Фербера, (директора Центра нарушений сна у детей
            Бостонской детской больницы и автора популярной книги «Решаем проблему сна вашего ребёнка»), дети, родившиеся недоношенными, проводят в фазе быстрого сна 75-80% времени, тогда как к периоду нормальной
            доношенности эти цифры снижаются до 50-60%. Трехлетний малыш активно смотрит сны в среднем 33% времени, а с 10-14 лет и всю оставшуюся жизнь мы довольствуемся 25% быстрой фазы сна.
        </p>
        <p class="fade-in">
            Как известно, поверхностный, или быстрый сон характеризуется движением глаз под закрытыми веками, подергиваниями или движением рук и ног, и легкостью пробуждения при воздействии внешних факторов, таких, как шум
            или запах. Таким образом «сон младенца» - абсолютная противоположность тому. Что мы привыкли в эту фразу вкладывать.
        </p>
        <p class="fade-in">
            На физиологическом и психологическом уровнях сон маленького ребенка отличается не только ото сна взрослых, но и ото сна детей более старшего возраста. Ритм активности у новорожденного ребенка нестабилен. У
            большинства детей только к 3 месяцам устанавливается 4-х часовой цикл сна и бодрствования.
        </p>
        <p class="fade-in">
            Из-за того, что у малышей фаза так называемого быстрого или поверхностного сна составляет до 80%, сон маленького ребенка более чуткий. В это время любой дискомфорт: мокрый подгузник, голод, холод, громкий звук,
            - может привести к пробуждению. Для сравнения, фаза быстрого сна взрослого человека по разным данным составляет от 10% до 25%.
        </p>
        <p class="fade-in">
            Вы наверняка наблюдали, как активна мимика малыша во сне: он то нахмурит бровки, то улыбнется, то опять насупится или вообще начнет сосать гипотетическую сосу. Может быть, ребенку что-то снится - именно на фазу
            быстрого сна приходится период сновидений, а исследования доказали, что видеть сны ребенок начинает ещё в утробе матери. Глазки малыша могут быть не до конца закрыты веками, и вы увидите, что глазные яблоки
            быстро движутся. В этот период дыхание ребенка может быть неравномерным, могут наблюдаться общие и локальные вздрагивания.
        </p>
        <p class="fade-in">
            Как и для взрослого человека, на продолжительность сна ребенка оказывает влияние целый ряд факторов: от психологического и физического состояния до темперамента и распорядка дня. В случае если ребенок здоров,
            чувствует себя хорошо, бодр и активен в течение дня, но при этом ребенок спит меньше рекомендованного, волноваться не стоит. Если, конечно, речь идет о небольших отклонениях от указанных норм. Однако,
            наблюдается закономерность: чем меньше ребенок, тем больше он должен спать.
        </p>
    </div>
</div>
{% endblock %} {% block after_content %}
<div class="ret:relative ret:container">
    <picture>
        <source media="(min-width: 1280px)" srcset="/images/sleep_boy-xl.png" />
        <source media="(min-width: 768px)" srcset="/images/sleep_boy-md.png" />
        <img src="/images/sleep_boy.png" alt="" class="fade-in mls:-mb-52 mls:-mt-32 ret:-bottom-120 -mt-16 -mb-24 w-full md:-mt-44 md:-mb-40 xl:absolute xl:right-0 xl:bottom-36 xl:m-0 xl:w-auto" />
    </picture>
</div>
{% endblock %}
