{% extends 'layouts/page.njk' %} {% block content %}
<div class="container">
    <div class="dorm-text relative xl:w-1/2">
        <p>Всех мам неизменно волнует вопрос:<br />«сколько должен спать ребенок?».</p>
        <p>
            Мы обязательно приведем ориентировочные суточные нормы сна ребенка в зависимости от возраста. Но, предчувствуя, что мамы начнут сравнивать сколько спит их ребенок с рекомендованными показателями и
            расстраиваться раньше времени, заметим:продолжительность сна всех детей индивидуальна!
        </p>
        <p>
            Как и для взрослого человека, на продолжительность сна ребенка оказывает влияние целый ряд факторов: от психологического и физического состояния до темперамента и распорядка дня. В случае если ребенок здоров,
            чувствует себя хорошо, бодр и активен в течение дня, но при этом ребенок спит меньше рекомендованного, волноваться не стоит. Если, конечно, речь идет о небольших отклонениях от указанных норм.
        </p>

        <div class="mb-4 md:px-[15%] xl:absolute xl:top-0 xl:left-full xl:mb-0 xl:w-full xl:p-0 xl:pl-16">{% include 'components/sleep_table.njk' %}</div>

        <h2>Страхи раннего возраста.</h2>
        <p>
            Боязнь животных и темноты обычно появляется у детей после 3 лет, достигая пика в 4 года. Они, например, боятся спать одни при выключенном свете. Боязнь темноты чаще всего связана с фантазиями и сновидениями
            ребенка, чем с реальными событиями его жизни. В настоящее время выявлено, что и у маленьких детей незнакомые объекты и люди могут вызывать страх. Заметные изменения происходят с возрастом в эмоциональном
            отношении детей к сверстнику. Дети младшей ясельной группы, как правило, с улыбкой разглядывают друг друга, иногда наблюдаются проявления ласки. После двух лет эмоциональная реакция становится намного ярче.
            Увеличиваются эмоциональное заражение детей друг от друга и эмоциональная отзывчивость по отношению к другому ребенку. Совместная деятельность носит ярко выраженную эмоциональную окраску, бурно нарастающую в
            ходе взаимодействия.
        </p>
        <h2>Страхи дошкольного возраста.</h2>
        <p>
            К шести годам постепенно уменьшается боязнь звуков и незнакомых предметов, а страх перед воображаемыми ситуациями в возрасте пять-шесть лет заметно усиливается. В дошкольном возрасте мнимые страхи (выдуманные,
            фантастические) преобладают над реальными, в содержании которых фигурируют фантастические образы из прочитанных сказок, фильмов ужасов и т. п.; в последующие годы значимость мнимых опасностей снижается, а
            реальных - возрастает. Среди реальных страхов в дошкольные годы первое место занимает боязнь воды. Второе место занимает страх, вызванный угрозой нападения животных, третье - боязнь падения с большой высоты и
            дорожно-транспортных происшествий. Выявлено существенное увеличение количества детских страхов в преддошкольном возрасте.Кроме того, обнаружилось, что, исключая трехлетний возраст, у девочек количество страхов
            больше, чем у мальчиков.
        </p>
    </div>
</div>
{% endblock %} {% block after_content %}
<picture>
    <source media="(min-width: 1280px)" srcset="/images/sleep_boy_a-xl.png" />
    <source media="(min-width: 768px)" srcset="/images/sleep_boy_a-md.png" />
    <img src="/images/sleep_boy_a.png" alt="" class="-mt-16 -mb-24 w-full md:-mt-44 md:-mb-40 xl:absolute xl:right-0 xl:bottom-36 xl:m-0 xl:w-auto" />
</picture>
{% endblock %}
