<a href="#" class="hover:text-my-violet grid h-[2.19rem] w-68 max-w-full place-content-center rounded-full border border-white text-sm transition-colors hover:bg-white md:w-36 xl:h-[3.44rem] xl:w-64 xl:text-lg">Назад</a>
