<div class="relative z-20 container xl:mt-16">
    <ul class="flex flex-wrap text-xs font-light xl:text-base">
        <li class="decoration-my-yellow after:mx-1 after:content-['>']">
            <a class="hover:underline" href="">Главная</a>
        </li>
        {% for item in breadcrumbs %} {% if loop.last %}
        <li>{{item}}</li>
        {% else %}
        <li class="decoration-my-yellow after:mx-1 after:content-['>']">
            <a class="hover:underline" href="">{{item}}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>
</div>
