<div class="fixed bottom-0 left-0 z-100 w-full bg-[linear-gradient(198deg,#9eb1d9_0%,#fff_100%)]">
    <div class="mls:flex-row mls:justify-center container flex flex-col items-center gap-2 py-4 md:flex-row xl:w-5xl">
        <p class="text-xs text-black xl:text-sm">Мы используем файлы cookies для улучшения веб-сайта. Продолжая просматривать этот сайт, вы соглашаетесь на использование нами файлов cookie и Политики конфиденциальности</p>
        <button class="text-my-blue shrink-0 cursor-pointer rounded-full bg-white px-4 text-sm leading-7 md:leading-9 xl:px-8 xl:text-xl xl:leading-10">Даю согласие</button>
    </div>
</div>
