<header>
    <div class="mls:pt-6 mls:flex-row fixed top-0 left-0 z-53 container flex max-w-none items-center justify-between bg-[#12192b] pt-5 pb-4 md:flex-row-reverse md:pt-11 xl:hidden">
        {% include 'components/header_mob.njk' %}
    </div>
    {% include 'components/main_menu.njk' %}
</header>