<div class="relative container hidden xl:block">
    <div class="absolute inset-0 grid grow place-content-center pt-14">
        <a class="relative z-10" href="">
            <svg width="209" height="30">
                <use href="#main-logo"></use>
            </svg>
        </a>
    </div>
    <nav class="relative flex items-center gap-x-[3.8rem] pt-[3.3rem] text-2xl">
        <a class="decoration-my-yellow underline-offset-9 hover:underline" href="">Особенности сна</a>
        <a class="decoration-my-yellow underline-offset-9 hover:underline" href="">О Дормикинде</a>
        <a class="decoration-my-yellow ml-auto underline-offset-9 hover:underline" href="">Специалистам</a>
        <a class="decoration-my-yellow underline-offset-9 hover:underline" href="">Родителям</a>
        <a href="#" class="text-my-blue grid h-[2.44rem] w-[9.2rem] place-content-center rounded-full border border-white bg-white transition-colors hover:bg-transparent hover:text-white">Где купить</a>
    </nav>
</div>
