<div class="relative container hidden xl:block">
    <div class="absolute inset-0 grid grow place-content-center pt-14">
        <a class="relative z-10" href="">
            <svg width="209" height="30">
                <use href="#main-logo"></use>
            </svg>
        </a>
    </div>
    <ul class="relative flex items-center gap-x-[3.8rem] pt-[3.3rem] text-2xl">
        <li class="group relative">
            <a class="decoration-my-yellow underline-offset-9 hover:underline" href="">Особенности сна</a>
            <ul class="invisible absolute top-full left-0 z-50 flex flex-col items-start gap-y-2.5 pt-2 leading-10 opacity-0 transition-opacity group-hover:visible group-hover:opacity-100">
                <li class="text-my-blue bg-my-table hover:bg-my-violet rounded-full px-4 whitespace-nowrap hover:bg-none hover:text-white bg-my-violet bg-none text-white"><a href="">ребенка 1-3 года</a></li>
                <li class="text-my-blue bg-my-table hover:bg-my-violet rounded-full px-4 whitespace-nowrap hover:bg-none hover:text-white"><a href="">ребенка старше 3х лет</a></li>
            </ul>
        </li>
        <li>
            <a class="decoration-my-yellow underline-offset-9 hover:underline" href="">О Дормикинде</a>
        </li>
        <li class="ml-auto">
            <a class="decoration-my-yellow underline-offset-9 hover:underline" href="">Специалистам</a>
        </li>
        <li>
            <a class="decoration-my-yellow underline-offset-9 hover:underline" href="">Родителям</a>
        </li>
        <li>
            <a href="#" class="text-my-blue grid h-[2.44rem] w-[9.2rem] place-content-center rounded-full border border-white bg-white transition-colors hover:bg-transparent hover:text-white bg-transparent! text-white!">Где купить</a>
        </li>
    </ul>
</div>
