<!doctype html>
<html lang="ru" class="{{ pageClass }}">
    {% include '../components/head.njk' %}
    <body class="font-nunito font-normal text-white">
        <div
            class="relative flex h-screen flex-col bg-[#0F2442] bg-[url('/images/night-bg-new.png')] bg-cover bg-fixed bg-top bg-no-repeat before:absolute before:inset-0 before:top-16 before:z-10 before:bg-[url('/images/stars.png')] before:bg-size-[100%_auto] before:bg-repeat-y md:before:top-[5.7rem] md:before:bg-[url('/images/stars-md.png')] xl:before:bg-[url('/images/stars-xl.png')]">
            {% include '../components/header.njk' %}
            <main class="relative z-20">
                <div class="absolute inset-x-0 pt-[4.8rem] md:pt-[7.2rem] xl:pt-0">
                    <div class="xl:container xl:flex">
                        <div class="hidden xl:block xl:pt-24 xl:pl-46">
                            <img src="/images/boy404.png" alt="" />
                        </div>
                        <div class="mls:h-[38vh] mx-auto flex h-[36vh] w-min flex-col items-center justify-center gap-y-3.5 xl:h-auto xl:m-0 xl:pl-7 xl:pb-27">
                            <div class="leading-my-109 text-center text-[2.5rem] font-extrabold whitespace-nowrap uppercase md:text-6xl xl:text-[6.25rem]">
                                <h1>ошибка 404</h1>
                                <p class="text-[0.515em]">Что-то пошло не так...</p>
                            </div>
                            <p class="text-sm/my-109 font-light md:text-base xl:text-xl">
                                Неправильно набран адрес или такой страницы больше не существует.<br />Вернитесь на <a class="font-bold underline hover:no-underline" href="">главную</a> или почитайте
                                <a class="font-bold underline hover:no-underline" href="">случайную статью.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </main>
            <div class="relative mt-auto">
                <picture>
                    <source media="((max-width: 932px) and (max-height:430px) and (orientation: landscape))" srcset="/images/foot404-xl.png" />
                    <source media="(min-width: 1024px)" srcset="/images/foot404-xl.png" />
                    <source media="(min-width: 768px)" srcset="/images/foot404-md.png" />
                    <img class="mls:h-[27vh] w-full" src="/images/foot404.png" alt="" />
                </picture>
                <img class="mls:left-[5%] mls:translate-0 absolute bottom-10 left-1/2 w-[42vh] -translate-x-1/2 xl:hidden" src="/images/boy404.png" alt="" />
            </div>
        </div>
    </body>
</html>
