<!doctype html>
<html lang="ru" class="page">
    {% include 'components/head.njk' %}
    <body class="font-nunito font-normal text-white">
        <!-- Header-->
        <header class="fixed top-0 left-0 z-53 w-full">
            <div class="mls:pt-6 mls:flex-row container flex items-center justify-between pt-5 md:flex-row-reverse md:pt-11 xl:hidden">{% include 'components/header_mob.njk' %}</div>
            <div>{% include 'components/main_menu.njk' %}</div>
        </header>

        <!-- /Header-->
        <main class="relative overflow-clip">
            <!--Boy-->
            <div class="scene-1 sticky top-0 min-h-screen">
                <div class="sticky top-0 h-screen">
                    <picture>
                        <source srcset="/images/first-part-bg-lg.png" media="(min-width: 1024px)" />
                        <source srcset="/images/first-part-bg-md.png" media="(min-width: 768px)" />
                        <img class="h-full w-full object-cover" src="/images/first-part-bg.png" alt="" />
                    </picture>
                    <!--Gradient bg-->
                    <div
                        class="absolute inset-0 bg-[linear-gradient(180deg,rgba(17,24,42,0)_0%,rgba(17,24,42,0.66)_41.49%,#11182a_93.7%)] opacity-0"
                        data-move="to"
                        data-trigger=".scene-1"
                        data-start="center top"
                        data-opacity="1"></div>
                    <!--/Gradient bg-->
                    <!--Clouds Back-->
                    <div class="mls:hidden absolute right-0 bottom-0 w-full">
                        <picture>
                            <source srcset="/images/cloud-back-lg.png" media="(min-width: 1280px)" />
                            <source srcset="/images/cloud-back-md.png" media="(min-width: 667px)" />
                            <img src="/images/cloud-back.png" class="ml-auto w-full md:w-auto" alt="" data-move="to" data-y="350" data-start="center top" data-end="+=300%" />
                        </picture>
                    </div>
                    <!--/Clouds Back-->
                    <!--Pack-->
                    <div data-move="to" data-scale="0.9" data-opacity="0" data-trigger=".scene-2" data-start="bottom top">
                        <canvas
                            id="my-canvas"
                            style="backface-visibility: hidden; transform: translateZ(0)"
                            class="ret:-bottom-24 mls:h-screen absolute right-0 bottom-0 aspect-[2] h-[80vh] opacity-0 md:h-[95vh] lg:-right-12 lg:-bottom-4 xl:bottom-0 xl:h-screen"></canvas>
                    </div>
                    <!--/Pack-->
                    <!--Clouds Front-->
                    <div class="absolute right-0 bottom-0 w-full">
                        <picture>
                            <source srcset="/images/cloud-front-lg.png" media="(min-width: 1280px)" />
                            <source media="((max-width: 932px) and (max-height:430px) and (orientation: landscape))" srcset="/images/cloud-front-mls.png" />
                            <source srcset="/images/cloud-back-md.png" media="(min-width: 667px)" />
                            <img src="/images/cloud-front.png" class="mls:h-auto ml-auto h-24 w-full md:h-56 xl:h-80" alt="" data-move="to" data-y="350" data-start="center top" data-end="+=300%" />
                        </picture>
                    </div>
                    <!--/Clouds Front-->
                    <!--Stars-->
                    <div class="absolute inset-0 grid grid-cols-16 grid-rows-40">
                        <div scroll-zoom class="col-start-9 row-start-8 grid place-content-center md:col-start-6 md:row-start-10 xl:col-start-10 xl:row-start-5">
                            <img
                                data-move="to"
                                data-opacity="1"
                                data-y="-150vh"
                                data-rotate="48"
                                data-trigger=".scrubMarker1"
                                data-start="top top"
                                data-end="bottom -250%"
                                class="w-26 max-w-none -rotate-10 md:w-56 xl:w-86"
                                src="/images/star-f-1.png"
                                alt="" />
                        </div>
                        <div scroll-zoom class="col-start-14 row-start-11 grid place-content-center md:col-start-16 md:row-start-7 xl:col-start-16 xl:row-start-1">
                            <img
                                data-move="to"
                                data-opacity="1"
                                data-y="-150vh"
                                data-rotate="48"
                                data-trigger=".scrubMarker1"
                                data-start="top top"
                                data-end="bottom -250%"
                                class="w-44 max-w-none -rotate-10 blur-[2px] md:ml-16 md:w-70 xl:w-102"
                                src="/images/star-f-1.png"
                                alt="" />
                        </div>
                        <div scroll-zoom class="col-start-10 row-start-21 grid place-content-center md:col-start-9 md:row-start-9 xl:col-start-8 xl:row-start-10 xl:mr-20">
                            <img
                                data-move="to"
                                data-opacity="1"
                                data-y="-150vh"
                                data-rotate="48"
                                data-trigger=".scrubMarker1"
                                data-start="top top"
                                data-end="bottom -250%"
                                class="w-37 max-w-none -rotate-10 md:ml-8 md:w-39 xl:w-85"
                                src="/images/star-f-1.png"
                                alt="" />
                        </div>
                        <div scroll-zoom class="col-start-16 row-start-19 grid place-content-center md:col-start-14 md:row-start-13 xl:col-start-15 xl:row-start-12 xl:mr-28">
                            <img
                                data-move="to"
                                data-opacity="1"
                                data-y="-150vh"
                                data-rotate="48"
                                data-trigger=".scrubMarker1"
                                data-start="top top"
                                data-end="bottom -250%"
                                class="w-37 max-w-none -rotate-10 blur-sm md:w-57 xl:w-85"
                                src="/images/star-f-1.png"
                                alt="" />
                        </div>
                        <div scroll-zoom class="col-start-5 row-start-33 grid place-content-center md:col-start-9 md:row-start-24 xl:col-start-10 xl:row-start-31">
                            <img
                                data-move="to"
                                data-opacity="1"
                                data-y="-150vh"
                                data-rotate="48"
                                data-trigger=".scrubMarker1"
                                data-start="top top"
                                data-end="bottom -250%"
                                class="w-55 max-w-none -rotate-10 blur-sm md:w-84 xl:w-127"
                                src="/images/star-f-1.png"
                                alt="" />
                        </div>
                    </div>
                    <!--/Stars-->
                    <!--Scene 1 text-->
                    <div class="absolute inset-0" data-trigger=".scene-2" data-endtrigger=".scrubMarker1" data-start="top center" data-move="to">
                        <div
                            data-move="to"
                            data-trigger="no"
                            data-opacity="1"
                            data-duration="3"
                            data-delay="0.5"
                            class="mls:h-full mls:py-0 mls:flex mls:flex-col mls:justify-center container pt-[5.7rem] opacity-0 md:pt-38 xl:pt-40">
                            <p class="mls:text-6xl text-[2.56rem] leading-[1.1] font-extrabold uppercase md:text-[6.63rem] xl:text-[11.6rem]">Сказочный сон</p>
                            <p class="text-[1.31rem] uppercase md:text-[1.88rem] xl:text-[2.81rem]">для активности днём</p>
                            <p class="tex-[0.94rem] max-w-84 md:text-xl xl:mt-8 xl:max-w-160 xl:text-3xl">Лекарственный препарат при беспокойстве и нарушениях сна у детей до 6 лет</p>
                            <!--div class="mt-[1.2rem] flex h-[1.81rem] text-sm md:h-[2.19rem] md:text-[0.94rem] xl:mt-14 xl:h-[3.44rem] xl:text-xl">
                                <a href="" class="group text-my-violet flex transition-colors hover:text-white">
                                    <span class="grid aspect-square h-full place-content-center rounded-full border border-white bg-white px-2 transition-all group-hover:rotate-90 group-hover:bg-transparent">
                                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="max-w-full">
                                            <path
                                                d="M0.420103 16.4589C-0.154863 17.0553 -0.137479 18.0049 0.458932 18.5799C1.05534 19.1549 2.00493 19.1375 2.5799 18.5411L1.5 17.5L0.420103 16.4589ZM18.4245 1.47254C18.4093 0.644256 17.7255 -0.0149122 16.8973 0.000251293L3.39951 0.247355C2.57122 0.262518 1.91206 0.946271 1.92722 1.77456C1.94238 2.60285 2.62614 3.26202 3.45442 3.24685L15.4524 3.0272L15.6721 15.0252C15.6872 15.8535 16.371 16.5127 17.1993 16.4975C18.0276 16.4823 18.6867 15.7986 18.6716 14.9703L18.4245 1.47254ZM1.5 17.5L2.5799 18.5411L18.0046 2.54107L16.9247 1.5L15.8448 0.458932L0.420103 16.4589L1.5 17.5Z"
                                                fill="currentColor" />
                                        </svg>
                                    </span>
                                    <span class="grid h-full place-content-center rounded-full border border-white bg-white px-3.5 whitespace-nowrap transition-colors group-hover:bg-transparent md:px-7 xl:px-[2.4rem]"
                                        >Купить сейчас</span
                                    >
                                </a>
                                <a href="" class="hover:text-my-violet ml-4 grid h-full place-content-center rounded-full border border-white px-3.5 transition-colors hover:bg-white md:px-7 xl:px-[2.4rem]">Инструкция</a>
                            </div-->
                        </div>
                    </div>
                    <!--/Scene 1 text-->
                </div>
            </div>
            <!--/Boy-->
            <div class="scrubMarker1 absolute top-[177vh] left-0 z-10 h-1 w-full"></div>
            <div class="scrubMarker2 absolute top-[280vh] left-0 z-10 h-1 w-full"></div>
            <!--Scene7-->
            <div class="scene-2 sticky top-0 min-h-[250vh]">
                <div class="mls:flex-col mls:justify-center mls:pt-0 sticky top-0 container flex h-screen items-start pt-[4.8rem] md:pt-[18.1vh] xl:items-center xl:pt-24">
                    <ul class="mls:text-lg max-w-[80%] space-y-5 text-sm leading-snug font-extrabold uppercase md:max-w-1/2 md:text-2xl xl:space-y-14 xl:text-[2.5rem]">
                        <li class="flex items-start gap-x-4 md:gap-x-8">
                            <div class="relative before:opacity-0 before:content-['-']">
                                <img
                                    class="star-bullit mls:top-[21vh] mls:left-[73vw] absolute top-[35vh] left-[40vw] w-[2.3em] max-w-none -translate-1/2 opacity-0 lg:top-[18vh] lg:left-[61vw]"
                                    data-end="+=100%"
                                    src="/images/star-bullit.png"
                                    alt="" />
                            </div>
                            <div data-move data-trigger=".scrubMarker2" data-start="top 30%" data-y="100">Разработан с учетом особенностей детского возраста</div>
                        </li>
                        <li class="flex items-start gap-x-4 md:gap-x-8">
                            <div class="relative before:opacity-0 before:content-['-']">
                                <img
                                    class="star-bullit mls:top-[9vh] mls:left-[72vw] absolute top-[35vh] left-[40vw] w-[2.3em] max-w-none -translate-1/2 opacity-0 lg:top-[1vh] lg:left-[61vw]"
                                    data-end="+=120%"
                                    src="/images/star-bullit.png"
                                    alt="" />
                            </div>
                            <div data-move data-trigger=".scrubMarker2" data-start="top 20%" data-y="100">Разрешен к применению у детей от 0 до 6 лет*</div>
                        </li>
                        <li class="flex items-start gap-x-4 md:gap-x-8">
                            <div class="relative before:opacity-0 before:content-['-']">
                                <img
                                    class="star-bullit mls:-top-[8vh] mls:left-[71vw] absolute top-[35vh] left-[40vw] w-[2.3em] max-w-none -translate-1/2 opacity-0 lg:-top-[18vh] lg:left-[61vw]"
                                    data-end="+=150%"
                                    src="/images/star-bullit.png"
                                    alt="" />
                            </div>
                            <div data-move data-trigger=".scrubMarker2" data-start="top 10%" data-y="100">Способствует улучшению процесса засыпания и качества сна**</div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/Scene7-->
            <!--Night-bg-->
            <div class="night-bg sticky top-0 h-screen overflow-clip">
                <picture>
                    <source srcset="/images/night-bg-lg.png" media="(min-width: 1024px)" />
                    <source srcset="/images/night-bg-ls.png" media="(max-width: 932px) and (orientation: landscape)" />
                    <img data-move="to" data-start="top top" data-opacity="1" src="/images/night-bg.png" class="h-full w-full object-cover opacity-0" alt="" />
                </picture>
                <div class="mls:hidden">
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[27.1vh] -left-[1%] hidden scale-[0.2] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[36.4vh] left-[0.3%] hidden scale-[0.4] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[50.5vh] left-[1.7%] hidden scale-[0.3] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[51.9vh] -left-[2.6%] hidden scale-[0.2] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[58.7vh] -left-[0.7%] hidden scale-[0.2] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[62.6vh] left-[2.3%] hidden scale-[0.5] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[9.3vh] left-[92.3%] hidden scale-[0.3] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[16.8vh] left-[88.3%] hidden scale-[0.3] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[27.1vh] left-[91%] hidden scale-[0.2] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[42.2vh] left-[92.1%] hidden scale-[0.4] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[50.1vh] left-[88.2%] hidden scale-[0.2] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[52vh] left-[92.6%] hidden scale-[0.2] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[59.2vh] left-[84.4%] hidden scale-[0.15] lg:block" src="/images/star.png" alt="" />
                    <img scroll-zoom data-move data-trigger=".night-bg" data-start="top top" data-scale="0" class="absolute top-[62.8vh] left-[87.8%] hidden scale-[0.5] lg:block" src="/images/star.png" alt="" />
                </div>
                <div id="clouds-back" class="absolute bottom-0 h-0 w-full">
                    <img src="/images/clouds-back-lg.png" alt="" class="absolute top-0 left-1/2 h-auto min-h-full w-auto max-w-none min-w-full -translate-x-1/2" />
                </div>
            </div>
            <!--/Night-bg-->
            <!--Scene8-->
            <div class="sticky top-0 z-10 h-[200vh]">
                <div class="mls:py-0 scene-8 sticky top-0 h-screen pt-17 pb-[12vw] lg:pt-24 lg:pb-[12vh]">
                    <div data-movee="to" data-opacity="0" data-trigger=".scene-10" data-start="bottom center" data-end="+10" class="mls:flex-row-reverse container flex h-full flex-col justify-between lg:flex-row-reverse">
                        <div
                            data-move="to"
                            data-trigger=".scene-10"
                            data-start="top bottom"
                            data-end="+=400"
                            data-x="200"
                            data-opacity="0"
                            class="mls:w-1/2 mls:px-0 mls:gap-y-4 flex flex-col justify-center md:px-12 lg:w-1/2 lg:px-0 lg:pt-16 lg:pl-12">
                            <h2
                                data-move
                                data-start="top top"
                                data-y="200"
                                class="mls:text-base mls:text-left mls:mb-0 mb-2.5 text-center text-sm font-extrabold uppercase md:mb-11 md:text-xl lg:mb-5 lg:text-left xl:text-[2.19rem]">
                                ДОРМИКИНД СПОСОБСТВУЕТ**:
                            </h2>
                            <ul class="mls:text-base mls:pl-3 space-y-1.5 pl-3 text-sm leading-[1.1] font-light md:space-y-3 md:text-xl lg:pl-8 xl:text-[2.19rem]">
                                {% for item in listscene8 %}
                                <li data-move data-start="top top" data-y="200" class="flex items-start gap-x-2 md:gap-x-8">
                                    <div class="relative before:opacity-0 before:content-['-']">
                                        <img class="absolute top-1/2 left-0 w-[2.3em] max-w-none -translate-1/2" src="/images/star-bullit.png" alt="" />
                                    </div>
                                    <span>{{item}}</span>
                                </li>
                                {% endfor %}
                            </ul>
                            <div
                                data-move
                                data-start="top top"
                                data-y="200"
                                class="mls:justify-start mls:mt-0 mt-2 flex h-[1.81rem] text-sm md:mt-11 md:h-[2.19rem] md:justify-center md:text-[0.94rem] lg:mt-[1.2rem] xl:mt-8 xl:h-[3.44rem] xl:text-xl">
                                <a href="" class="group text-my-violet flex transition-colors hover:text-white">
                                    <span class="grid aspect-square h-full place-content-center rounded-full border border-white bg-white px-2 transition-all group-hover:rotate-90 group-hover:bg-transparent">
                                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="max-w-full">
                                            <path
                                                d="M0.420103 16.4589C-0.154863 17.0553 -0.137479 18.0049 0.458932 18.5799C1.05534 19.1549 2.00493 19.1375 2.5799 18.5411L1.5 17.5L0.420103 16.4589ZM18.4245 1.47254C18.4093 0.644256 17.7255 -0.0149122 16.8973 0.000251293L3.39951 0.247355C2.57122 0.262518 1.91206 0.946271 1.92722 1.77456C1.94238 2.60285 2.62614 3.26202 3.45442 3.24685L15.4524 3.0272L15.6721 15.0252C15.6872 15.8535 16.371 16.5127 17.1993 16.4975C18.0276 16.4823 18.6867 15.7986 18.6716 14.9703L18.4245 1.47254ZM1.5 17.5L2.5799 18.5411L18.0046 2.54107L16.9247 1.5L15.8448 0.458932L0.420103 16.4589L1.5 17.5Z"
                                                fill="currentColor" />
                                        </svg>
                                    </span>
                                    <span class="grid h-full place-content-center rounded-full border border-white bg-white px-3.5 whitespace-nowrap transition-colors group-hover:bg-transparent md:px-7 xl:px-[2.4rem]"
                                        >Купить сейчас</span
                                    >
                                </a>
                                <a href="" class="hover:text-my-violet ml-4 grid h-full place-content-center rounded-full border border-white px-3.5 transition-colors hover:bg-white md:px-7 xl:px-[2.4rem]">Инструкция</a>
                            </div>
                        </div>
                        <div id="boy-w-pack-cnt" class="mls:max-h-[80%] mls:max-w-1/2 mls:self-end relative aspect-[1.16] max-h-[36vh] max-w-full grow self-center opacity-0 lg:max-h-full lg:max-w-1/2">
                            <img src="/images/pack.png" class="absolute bottom-0 left-0 max-h-full lg:-bottom-24" alt="" />
                            <canvas id="boy-w-pack" class="absolute right-0 -bottom-4 aspect-[0.9] max-h-full min-w-[77%] lg:-bottom-24"></canvas>
                        </div>
                    </div>
                    <div
                        id="clouds-front"
                        data-move="to"
                        data-opacity="1"
                        data-start="top bottom"
                        class="ret:h-[32vh] mls:h-[8vw] absolute bottom-0 left-0 h-[22vw] w-full bg-[url('/images/clouds-back-lg.png')] bg-cover opacity-0 lg:h-[10vw]"></div>
                </div>
            </div>
            <!--/Scene8-->
            <!--Stars-->
            <div class="relative grid h-screen grid-cols-16 grid-rows-40">
                <div class="col-start-1 row-start-8 grid place-content-center md:col-start-6 md:row-start-10 xl:col-start-10 xl:row-start-5">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-26 max-w-none -rotate-10 md:w-56 xl:w-86" src="/images/star-f-1.png" alt="" />
                </div>
                <div class="col-start-14 row-start-11 grid place-content-center md:col-start-16 md:row-start-7 xl:col-start-16 xl:row-start-1">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-44 max-w-none -rotate-10 blur-[2px] md:ml-16 md:w-70 xl:w-102" src="/images/star-f-1.png" alt="" />
                </div>
                <div class="col-start-3 row-start-18 grid place-content-center md:col-start-9 md:row-start-9 xl:col-start-8 xl:row-start-10 xl:mr-20">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-37 max-w-none -rotate-10 md:ml-8 md:w-39 xl:w-85" src="/images/star-f-1.png" alt="" />
                </div>
                <div class="col-start-16 row-start-19 grid place-content-center md:col-start-14 md:row-start-13 xl:col-start-15 xl:row-start-12 xl:mr-28">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-37 max-w-none -rotate-10 blur-sm md:w-57 xl:w-85" src="/images/star-f-1.png" alt="" />
                </div>
                <div class="col-start-5 row-start-33 grid place-content-center md:col-start-9 md:row-start-24 xl:col-start-10 xl:row-start-31">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-55 max-w-none -rotate-10 blur-sm md:w-84 xl:w-127" src="/images/star-f-1.png" alt="" />
                </div>
                <div class="col-start-14 row-start-39 grid place-content-center md:col-start-13 md:row-start-38 xl:col-start-13 xl:row-start-37 xl:mr-20">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-37 max-w-none -rotate-10 md:ml-8 md:w-39 xl:w-85" src="/images/star-f-1.png" alt="" />
                </div>
            </div>
            <!--/Stars-->
            <!--Scene10-->
            <div class="scene-10 sticky top-0 h-[200vh]">
                <div class="sticky top-0 h-screen">
                    {% for card in cards %}
                    <div class="mls:top-1/2 card absolute top-[38%] left-1/2 aspect-square w-[425%] -translate-x-1/2 md:top-[30%] xl:top-1/2 xl:w-[300%]">
                        <div
                            class="{% if loop.index % 2 == 0 %}bg-[linear-gradient(180deg,#ffe584_0%,#fcc600_100%)]{% else %}bg-my-gradient{% endif %} absolute left-1/2 flex min-h-60 w-56 -translate-1/2 flex-col justify-center gap-y-4 rounded-2xl p-3.5 lg:w-80 xl:min-h-128 xl:w-100 xl:rounded-[2.6rem] xl:p-12">
                            <h3 class="text-my-violet text-sm font-extrabold uppercase md:text-base xl:text-2xl">{{card.title}}</h3>
                            <ul class="list-disc space-y-0.5 pl-5 text-sm leading-none font-light text-black md:text-base xl:space-y-4 xl:text-[1.44rem] xl:leading-[1.2]">
                                {% for str in card.list %}
                                <li>{{ str }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--/Scene10-->
            <!--Stars-->
            <div data-move="to" data-y="600" data-opacity="1" data-start="top bottom" data-end="bottom top" class="relative grid h-screen grid-cols-16 grid-rows-40">
                <div class="col-start-9 row-start-8 grid place-content-center md:col-start-6 md:row-start-10 xl:col-start-10 xl:row-start-5">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-26 max-w-none -rotate-10 md:w-56 xl:w-86" src="/images/star-f-1.png" alt="" />
                </div>
                <div class="col-start-14 row-start-11 grid place-content-center md:col-start-16 md:row-start-7 xl:col-start-16 xl:row-start-1">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-44 max-w-none -rotate-10 blur-[2px] md:ml-16 md:w-70 xl:w-102" src="/images/star-f-1.png" alt="" />
                </div>
                <div class="col-start-6 row-start-18 grid place-content-center md:col-start-9 md:row-start-9 xl:col-start-8 xl:row-start-10 xl:mr-20">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-37 max-w-none -rotate-10 md:ml-8 md:w-39 xl:w-85" src="/images/star-f-1.png" alt="" />
                </div>
                <div class="col-start-16 row-start-19 grid place-content-center md:col-start-14 md:row-start-13 xl:col-start-15 xl:row-start-12 xl:mr-28">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-37 max-w-none -rotate-10 blur-sm md:w-57 xl:w-85" src="/images/star-f-1.png" alt="" />
                </div>
                <div class="col-start-5 row-start-33 grid place-content-center md:col-start-9 md:row-start-24 xl:col-start-10 xl:row-start-31">
                    <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-55 max-w-none -rotate-10 blur-sm md:w-84 xl:w-127" src="/images/star-f-1.png" alt="" />
                </div>
            </div>
            <!--/Stars-->
            <!--Scene15-->
            <div class="sticky top-0 h-screen xl:z-51">
                <div class="sticky top-0 container grid h-full place-content-center pt-[4.3rem] pb-[12vh] xl:pt-24">
                    <h2 data-move="to" data-trigger=".scene-15" data-start="bottom bottom" data-end="bottom center" data-opacity="0" class="text-center text-[1.44rem] font-extrabold uppercase md:text-3xl xl:text-[4rem]">
                        ПЕРИОДЫ,<br />КОГДА РЕБЕНКУ<br />ОСОБЕННО ВАЖЕН<br /><span class="text-white/45">СПОКОЙНЫЙ СОН:</span>
                    </h2>
                </div>
            </div>
            <div class="scene-15 relative container flex flex-col gap-y-[22vh] pb-[50vh]">
                <!--Stars-->
                <div data-move="to" data-y="300" data-opacity="1" data-start="top bottom" data-end="bottom top" class="absolute inset-0 grid grid-cols-16 grid-rows-40">
                    <div class="col-start-9 row-start-8 grid place-content-center md:col-start-6 md:row-start-10 xl:col-start-10 xl:row-start-5">
                        <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-26 max-w-none -rotate-10 md:w-56 xl:w-86" src="/images/star-f-1.png" alt="" />
                    </div>
                    <div class="col-start-14 row-start-11 grid place-content-center md:col-start-16 md:row-start-7 xl:col-start-16 xl:row-start-1">
                        <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-44 max-w-none -rotate-10 blur-[2px] md:ml-16 md:w-70 xl:w-102" src="/images/star-f-1.png" alt="" />
                    </div>
                    <div class="col-start-6 row-start-18 grid place-content-center md:col-start-9 md:row-start-9 xl:col-start-8 xl:row-start-10 xl:mr-20">
                        <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-37 max-w-none -rotate-10 md:ml-8 md:w-39 xl:w-85" src="/images/star-f-1.png" alt="" />
                    </div>
                    <div class="col-start-16 row-start-19 grid place-content-center md:col-start-14 md:row-start-13 xl:col-start-15 xl:row-start-12 xl:mr-28">
                        <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-37 max-w-none -rotate-10 blur-sm md:w-57 xl:w-85" src="/images/star-f-1.png" alt="" />
                    </div>
                    <div class="col-start-5 row-start-33 grid place-content-center md:col-start-9 md:row-start-24 xl:col-start-10 xl:row-start-31">
                        <img data-move="to" data-end="bottom top" data-rotate="360" data-opacity="1" class="w-55 max-w-none -rotate-10 blur-sm md:w-84 xl:w-127" src="/images/star-f-1.png" alt="" />
                    </div>
                </div>
                <!--/Stars-->
                {% for card in cards2 %}
                <!-- prettier-ignore -->
                <div class="{% if loop.index % 2 == 0 %}ml-auto bg-[linear-gradient(168deg,#fff_37.44%,#9eb1d9_100%)] rotate-12 {% else %}bg-[#2e1c86] -rotate-12 {% endif %}w-52 rounded-3xl p-5 md:w-72 xl:w-105 xl:rounded-[2.6rem] xl:p-7">
                    <ul class="{% if loop.index % 2 == 0 %}text-my-violet {% endif %}list-disc space-y-3 pl-6 text-sm font-extrabold uppercase md:text-lg xl:text-[1.63rem]">
                        {% for str in card.list %}
                        <li>{{ str }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            <!--/Scene15-->
            <!--Scene22-->
            <div class="scene-22 sticky top-0 z-52 h-screen">
                <div
                    data-move="to"
                    data-opacity="0"
                    data-trigger=".scene-24"
                    data-start="top bottom"
                    data-end="top top"
                    class="mls:flex mls:flex-col mls:justify-center mls:gap-y-7 mls:py-0 sticky top-0 container h-screen pt-20 md:flex md:flex-col md:justify-evenly md:pt-32 md:pb-80">
                    <h2 class="text-center text-xl font-extrabold uppercase md:text-3xl xl:text-[4rem]">ОТЗЫВЫ</h2>
                    <!-- Slider main container -->
                    <div class="mls:mt-0 mls:px-8 relative mt-8 sm:px-5 md:px-14 xl:px-32">
                        <div
                            class="swiper-button-prev mls:h-8 mls:w-8 mls:-left-5 hover:text-my-violet absolute top-1/2 -left-5 grid h-8 w-8 -translate-y-1/2 cursor-pointer place-content-center rounded-full border-2 border-white p-2 transition-colors hover:bg-white md:left-0 md:h-10 md:w-10 xl:h-14 xl:w-14">
                            <svg class="max-w-full" xmlns="http://www.w3.org/2000/svg" width="23" height="30" fill="none" viewBox="0 0 23 30">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21.744 1-20 13 20 15" />
                            </svg>
                        </div>
                        <div
                            class="swiper-button-next mls:h-8 mls:w-8 mls:-right-5 hover:text-my-violet absolute top-1/2 -right-5 grid h-8 w-8 -translate-y-1/2 rotate-180 cursor-pointer place-content-center rounded-full border-2 border-white p-2 transition-colors hover:bg-white md:right-0 md:h-10 md:w-10 xl:h-14 xl:w-14">
                            <svg class="max-w-full" xmlns="http://www.w3.org/2000/svg" width="23" height="30" fill="none" viewBox="0 0 23 30">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21.744 1-20 13 20 15" />
                            </svg>
                        </div>
                        <div class="swiper mls:h-41 h-76 w-full p-px sm:h-56 xl:h-88">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                {% for i in [1,2,3] %} {% for review in reviews %}
                                <div class="swiper-slide mls:px-0 px-5 sm:px-0">
                                    <div class="swiper-slide__body flex h-full w-full flex-col rounded-[1.25rem] border border-white p-7 sm:p-5 xl:rounded-[2.6rem] xl:p-10">
                                        <div class="mb-6 flex h-3 gap-x-2.5 sm:mb-3 sm:h-2 xl:mb-10 xl:h-auto">
                                            <img src="/images/star.svg" alt="" />
                                            <img src="/images/star.svg" alt="" />
                                            <img src="/images/star.svg" alt="" />
                                            <img src="/images/star.svg" alt="" />
                                            <img src="/images/star.svg" alt="" />
                                        </div>
                                        <p class="mls:line-clamp-4 mls:text-sm swiper-slide__text line-clamp-10 text-sm leading-[1.1] font-light sm:text-[0.7rem] md:text-base xl:line-clamp-6 xl:text-[1.44rem]">
                                            {{ review.text }}
                                        </p>
                                        <p class="mls:text-sm mt-auto text-sm font-bold sm:text-[0.7rem] md:text-base xl:text-lg">{{ review.name }}</p>
                                    </div>
                                </div>
                                {% endfor %} {% endfor %}
                                <!--/Slides -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Scene22-->
            <!--Scene24-->
            <div class="scene-24 sticky top-0 z-52 h-[300vh] opacity-0">
                <div class="mls:py-0 sticky top-0 container flex h-screen flex-col pt-28 sm:pt-20 md:pt-40 xl:pt-40">
                    <h1 class="mls:hidden mb-4 text-center text-4xl font-black uppercase md:text-8xl xl:mb-0 xl:text-[14.44rem]">дормикинд</h1>
                    <div class="mls:flex-row flex grow flex-col lg:flex-row-reverse">
                        <div class="mls:flex mls:flex-col mls:justify-center mls:text-center mls:w-1/2 relative z-10 lg:w-1/2 lg:pl-[7.3rem]">
                            <p class="mls:block hidden text-4xl font-black uppercase">дормикинд</p>
                            <p class="text-center uppercase md:text-2xl lg:text-left xl:text-[2.8rem] xl:leading-[1.3]">сказочный сон <br />для активности днём!</p>
                            <div class="mt-[1.2rem] flex h-[1.81rem] justify-center text-sm md:h-[2.19rem] md:text-[0.94rem] lg:justify-start xl:mt-8 xl:h-[3.44rem] xl:text-xl">
                                <a href="" class="group text-my-violet flex transition-colors hover:text-white">
                                    <span class="grid aspect-square h-full place-content-center rounded-full border border-white bg-white px-2 transition-all group-hover:rotate-90 group-hover:bg-transparent">
                                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="max-w-full">
                                            <path
                                                d="M0.420103 16.4589C-0.154863 17.0553 -0.137479 18.0049 0.458932 18.5799C1.05534 19.1549 2.00493 19.1375 2.5799 18.5411L1.5 17.5L0.420103 16.4589ZM18.4245 1.47254C18.4093 0.644256 17.7255 -0.0149122 16.8973 0.000251293L3.39951 0.247355C2.57122 0.262518 1.91206 0.946271 1.92722 1.77456C1.94238 2.60285 2.62614 3.26202 3.45442 3.24685L15.4524 3.0272L15.6721 15.0252C15.6872 15.8535 16.371 16.5127 17.1993 16.4975C18.0276 16.4823 18.6867 15.7986 18.6716 14.9703L18.4245 1.47254ZM1.5 17.5L2.5799 18.5411L18.0046 2.54107L16.9247 1.5L15.8448 0.458932L0.420103 16.4589L1.5 17.5Z"
                                                fill="currentColor" />
                                        </svg>
                                    </span>
                                    <span class="grid h-full place-content-center rounded-full border border-white bg-white px-3.5 transition-colors group-hover:bg-transparent md:px-7 xl:px-[2.4rem]">Купить сейчас</span>
                                </a>
                            </div>
                        </div>
                        <div class="relative grow lg:w-1/2">
                            <canvas id="boy-w-pack-foot" class="ret:bottom-0 ret:w-[120%] mls:-bottom-[12vw] absolute -bottom-[9vh] left-0 aspect-[0.81875] w-full lg:w-[90%]"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Scene24-->
            <!--Footer-->
            <div class="scene-26 relative z-52 xl:sticky xl:top-0 xl:h-screen">
                <div class="xl:sticky xl:top-0 xl:flex xl:h-full xl:flex-col xl:justify-between">
                    <div class="mls:pb-[100vh] container pt-44 pb-[100vh] xl:pb-0">
                        <h2 data-move="to" data-opacity="0" data-start="top 100px" data-end="+=100" class="text-sm font-medium md:text-lg xl:text-2xl">Ссылки на источники:</h2>
                        <div class="mt-6 text-[0.7rem] font-light md:text-base xl:text-lg">
                            <p>* - Инструкция по медицинскому применению препарата Дормикинд</p>
                            <p>
                                ** - Хачатрян Л.Г., Погорелова М.С., Геппе Н.А. и др. Проблемы нарушения сна у детей раннего возраста: вопросы диагностики и коррекции // Журнал неврологии и психиатрии им. С.С. Корсакова.
                                2019. Т. 119, № 7, вып. 2. С. 25–32. DOI:
                                <a class="decoration-my-yellow hover:underline" target="_blank" rel="nofollow" href="https://d-l.com.ua/uploads/files/2014/8%20(37)/58380712.pdf"
                                    >https://doi.org/10.17116/jnevro201911907225</a
                                >
                            </p>
                        </div>

                        <!--ol class="mt-[1.4rem] list-decimal pl-[1.6rem] text-[0.7rem] font-light md:text-base xl:text-lg">
                            <li data-move="to" data-opacity="0" data-start="top 100px" data-end="+=100">
                                <a class="decoration-my-yellow hover:underline" target="_blank" rel="nofollow" href="https://d-l.com.ua/uploads/files/2014/8%20(37)/58380712.pdf"
                                    >https://d-l.com.ua/uploads/files/2014/8%20(37)/58380712.pdf</a
                                >
                            </li>
                            <li data-move="to" data-opacity="0" data-start="top 100px" data-end="+=100">
                                <a
                                    class="decoration-my-yellow hover:underline"
                                    target="_blank"
                                    rel="nofollow"
                                    href="https://www.mediasphera.ru/issues/zhurnal-nevrologii-i-psikhiatrii-im-s-s-korsakova-2/2019/7/1199772982019072025/annotation"
                                    >https://www.mediasphera.ru/issues/zhurnal-nevrologii-i-psikhiatrii-im-s-s-korsakova-2/2019/7/1199772982019072025/annotation</a
                                >
                            </li>
                            <li data-move="to" data-opacity="0" data-start="top 100px" data-end="+=100">
                                <a class="decoration-my-yellow hover:underline" target="_blank" rel="nofollow" href="https://remedium-nn.ru/?id=7693&download=1">https://remedium-nn.ru/?id=7693&download=1</a>
                            </li>
                            <li data-move="to" data-opacity="0" data-start="top 100px" data-end="+=100">
                                Miek C. Jong, Lydia Ilyenko, Irina Kholodova, Cynthia Verwer, Julia Burkart, Stephan Weber, Thomas Keller, Petra Klement A Comparative Randomized Controlled Clinical Trial on the
                                Effectiveness, Safety, and Tolerability of a Homeopathic Medicinal Product in Children with Sleep Disorders and Restlessness. Evidence-Based Complementary and Alternative Medicine / 2016
                                Article ID 9539030, 11 pages, 2016.
                                <a class="decoration-my-yellow hover:underline" target="_blank" rel="nofollow" href="https://doi.org/10.1155/2016/9539030">https://doi.org/10.1155/2016/9539030</a>
                            </li>
                            <li data-move="to" data-opacity="0" data-start="top 100px" data-end="+=100">
                                Хачатрян Л. Г., Погорелова М. С., Геппе Н. А., Лемешко И. Д., Касанаве Е. В., Фролкова Е. В., Трепилец В. М. Проблемы нарушения сна у детей раннего возраста: вопросы диагностики и коррекции.
                                Журнал неврологии и психиатрии им. С.С. Корсакова. Спецвыпуски. 2019;119(7-2):25-32.
                                <a class="decoration-my-yellow hover:underline" target="_blank" rel="nofollow" href="https://doi.org/10.17116/jnevro201911907225">https://doi.org/10.17116/jnevro201911907225</a>
                            </li>
                            <li data-move="to" data-opacity="0" data-start="top 100px" data-end="+=100">
                                Сухоносова O. Ю. , Молочек Н. В. Эксперимент в корректировке симптоматики повышенной раздражительности и нарушения сна у детей младшего возраста. Педиатрия, Акушерство и Гинекология №. 2,
                                2009
                            </li>
                        </ol-->
                    </div>

                    <div id="footer">{% include 'components/footer.njk' %}</div>
                </div>
            </div>
            <!--/Footer-->
        </main>
        <div id="scroll-prompt" class="invisible fixed bottom-20 left-1/2 grid aspect-square w-[3.13rem] place-content-center rounded-full border-2 border-white opacity-0">
            <svg style="width:1.87rem;height: 1.25rem;" width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1.00002L15.098 17.9997L29 1.00002" stroke="white" stroke-width="2" stroke-linecap="round" />
            </svg>
        </div>
        <script type="module" src="/src/js/main.js"></script>
        <script>
            window.scrollTo(0, 0)
            history.scrollRestoration = 'manual'
            //history.scrollRestoration = 'auto'
            document.addEventListener('DOMContentLoaded', () => {
                const prompt = document.getElementById('scroll-prompt')
                let scrollTimeout

                // Функция проверки: доскроллил ли пользователь до самого конца
                function isPageEnd() {
                    // Высота прокрученной части + высота окна >= полной высоте документа
                    return window.innerHeight + window.scrollY >= document.documentElement.scrollHeight - 5
                }

                // Функция, которая показывает плашку
                function showPrompt() {
                    if (!isPageEnd()) {
                        prompt.classList.add('show')
                    }
                }

                // Функция сброса таймера при активности
                function resetTimer() {
                    // Сразу прячем плашку при любом скролле или действии
                    prompt.classList.remove('show')

                    // Очищаем старый таймер
                    clearTimeout(scrollTimeout)

                    // Запускаем новый таймер на 30 секунд (30000 миллисекунд)
                    scrollTimeout = setTimeout(showPrompt, 3000)
                }

                // Отслеживаем скролл и движения пользователя
                window.addEventListener('scroll', resetTimer)
                window.addEventListener('touchstart', resetTimer) // Для мобильных

                // Запускаем таймер при первой загрузке страницы
                resetTimer()
            })
        </script>
    </body>
</html>
