<!doctype html>
<html lang="ru" class="{{ pageClass }}">
    {% include '../components/head.njk' %}
    <body class="font-nunito font-normal text-white">
        <div class="fixed inset-0 bg-[url('/images/night-bg-new.png')] bg-cover bg-top bg-no-repeat"></div>
        <div
            class="relative flex min-h-screen flex-col overflow-hidden pt-[4.8rem] before:absolute before:inset-0 before:top-16 before:z-10 before:bg-[url('/images/stars.png')] before:bg-size-[100%_auto] before:bg-repeat-y md:pt-[7.2rem] md:before:top-[5.7rem] md:before:bg-[url('/images/stars-md.png')] xl:pt-0 xl:before:bg-[url('/images/stars-xl.png')]">
            {% include '../components/header.njk' %} {% include '../components/breadcrumbs.njk' %} {% include '../components/pagetitle.njk' %}
            <main class="relative z-20">{% block content %} This is the default content {% endblock %}</main>
            {% block after_content %}{% endblock %}
            <div class="relative z-10 mt-auto bg-[url('/images/foot-bg.png')] bg-cover bg-top bg-no-repeat pt-24 pb-12 md:bg-[url('/images/foot-bg-md.png')] xl:bg-[url('/images/foot-bg-xl.png')] xl:pt-44 xl:pb-0">
                {% include '../components/footer.njk' %}
            </div>
        </div>
        <script type="module" src="/src/js/page.js"></script>
    </body>
</html>
